#
# Repository path   : $HeadURL: $
# Last committed    : $Revision: $
# Last changed by   : $Author: $
# Last changed date : $Date: $
#

include Makefile
include scripts/tm-vhdl-producer
include templates/*.vhd
