{%- block signal_correlation_conditions_differences %}
  {%- for o1, o2 in module.correlationCombinations %}

    {%- if o1.type == 'EG' and o2.type in ('JET', 'TAU') %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));

    {%- elif o1.type == 'JET' and o2.type in ('EG', 'JET', 'TAU') %}
      {%- if o2.type == 'EG' %}
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_cosh_deta_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
      {%- elif o2.type in ('JET', 'TAU') %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
      {%- endif %}
    
    {%- elif o1.type == 'TAU' and o2.type in ('EG', 'TAU', 'JET')  %}
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_cosh_deta_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o2.type|lower }}_{{ o1.type|lower }}_bx_{{ o2.bx }}_bx_{{ o1.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o2.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    
    {%- elif ('EG' in o1.type or 'JET' in o1.type or 'TAU' in o1.type) and ('ETM' in o2.type or 'HTM' in o2.type or 'ETMHF' in o2.type) %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));

    {%- elif ('EG' in o1.type or 'JET' in o1.type or 'TAU' in o1.type) and 'MU' in o2.type %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));

    {%- elif 'MU' in o1.type and 'MU' in o2.type %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector : muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));

    {%- elif 'MU' in o1.type and ('ETM' in o2.type or 'HTM' in o2.type or 'ETMHF' in o2.type) %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_muon_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- endif %}

  {%- endfor %}
{%- endblock signal_correlation_conditions_differences %}
{# eof #}
