{%- block signal_correlation_conditions_orm_differences %}
  {%- for o1, o2, o3 in module.correlationOrmCombinations %}
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector : calo_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector : calo_cosh_cos_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o2.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- if o1.type == 'EG' and o3.type in ('JET', 'TAU') %}
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- elif o1.type == 'JET' and o3.type == 'EG'  %}
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- elif o1.type == 'JET' and o3.type == 'TAU' %}
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o1.type|upper }}_OBJECTS-1, 0 to NR_{{ o3.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- elif o1.type == 'TAU' and o3.type in ('EG', 'JET')  %}
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_eta_integer: dim2_max_eta_range_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_eta_vector: deta_dphi_vector_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_phi_integer: dim2_max_phi_range_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{ o3.type|lower }}_{{ o1.type|lower }}_bx_{{ o3.bx }}_bx_{{ o1.bx }}_phi_vector: deta_dphi_vector_array(0 to NR_{{ o3.type|upper }}_OBJECTS-1, 0 to NR_{{ o1.type|upper }}_OBJECTS-1) := (others => (others => (others => '0')));
    {%- endif %}
  {%- endfor %}
{%- endblock signal_correlation_conditions_orm_differences %}
{# eof #}
