{%- block signal_correlation_conditions_pt_eta_phi_loop %}
  {%- for o in module.correlationObjects %}
    {%- if o.type in ('EG', 'JET', 'TAU') %}
    signal {{ o.type|lower }}_cos_phi_bx_{{ o.bx }}: calo_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    signal {{ o.type|lower }}_sin_phi_bx_{{ o.bx }}: calo_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    {%- elif o.type == 'MU' %}
    signal {{ o.type|lower }}_cos_phi_bx_{{ o.bx }}: muon_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    signal {{ o.type|lower }}_sin_phi_bx_{{ o.bx }}: muon_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    {%- elif o.type in ('ETM', 'HTM', 'ETMHF') %}
    signal {{ o.type|lower }}_cos_phi_bx_{{ o.bx }}: calo_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    signal {{ o.type|lower }}_sin_phi_bx_{{ o.bx }}: calo_sin_cos_integer_array(0 to NR_{{ o.type|upper }}_OBJECTS-1) := (others => 0);
    {%- endif %}
  {%- endfor %}
{%- endblock signal_correlation_conditions_pt_eta_phi_loop %}
{# eof #}
