{%- extends "templateLoops/iterate_algorithm.j2" %}
{%- block algorithm_loop %}
    {%- set nConditionNames = algorithm.conditionNames | count %}
    {%- for condition_name in algorithm.conditionNames %} 
      {%- set condition_loop = loop %}
      {%- block condition_details scoped %}
        THIS SHOULD NOT APPEAR - iterate_condition
      {%- endblock condition_details %}
    {%- endfor%}
    {%- if nConditionNames == 0 %}
    <HR>
    <a name={{algorithm_name}}></a><h3 style="color: rgb(51, 51, 255); font-family:Lucida Grande, Verdana;">{{algorithm.index}}:{{algorithm_name}}</h3>
    <a href=#top><B>[TOP]</B></a><BR><BR>
    <B>Logical Expression: </B>{{algorithm.expression}}<br>
    <BR>
    <font style="font-size: 14px;">
      <B>Logical Expression in Firmware Conditions: </B><i>{{algorithm.expression_in_condition}}</i></font>
    <BR>
    <BR>
    {%- endif %}
{%- endblock algorithm_loop %}
{# eof #}
