{%- extends "templateLoops/iterate_algorithm.j2" %}
{%- block algorithm_loop %}
    {%- for condition_name in algorithm.conditions.keys() %} 
      {%- set condition_loop = loop %}
      {%- set condition = algorithm.conditions[condition_name] %}
      {%- block condition_details scoped %}
        THIS SHOULD NOT APPEAR - iterate_condition
      {%- endblock condition_details %}
    {%- endfor%}
{%- endblock algorithm_loop %}
{# eof #}
