{%- set signalEtaPhiList={}%}    {#-  #} 
{%- set muonChargeCorrelationList={} %}   {#-  #}
{%- set conditionSet = [] %}
{%- for algoName in menu.reporter['index_sorted'] %}
{%- set algoDict = menu.reporter['algoDict'][algoName] %}
{%- set algoIndex = algoDict["index"] %}
{%- block condLoop scoped %}
{%- endblock %}
{%- endfor %}
{% block outerLoop %}
{% endblock outerLoop %}
