{%- extends "templateLoops/algoLoop.j2" %}
{%- block condition_loop %}
  {%- if algorithm_index in menu.reporter['m2a'][iMod].values() %}
    {%- for condition_name in algorithm.conditions.keys() %} 
      {%- set condition = algorithm.conditions[condition_name] %}
      {%- block instantiation scoped %}
      {%- endblock %}
    {%- endfor%}
  {%- endif %}
{%- endblock %}
{# eof #}
