{%- extends "templateLoops/condLoop.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type in ("TotalEt", "TotalHt", "MissingEt", "MissingHt") %}
    {%- block instance_esums_condition scoped %}
      THIS SHOULD NOT APPEAR - instance_esums_condition
    {%- endblock instance_esums_condition %}
  {%- endif %}
{%- endblock instantiation %}
{#- eof #}
