{%- extends "templateLoops/condLoop.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type == "CaloMuonCorrelation" %}
    {%- block instance_calo_muon_correlation_condition scoped %}
      THIS SHOULD NOT APPEAR - instance_calo_muon_correlation_condition
    {%- endblock %}
  {%- endif %}
{%- endblock instantiation %}
{# eof #}
