{%- extends "templateLoops/condLoop.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type in (
    "SingleMuon", "DoubleMuon", "TripleMuon", "QuadMuon") %}
    {%- block instance_muon_condition scoped %}
      THIS SHOULD NOT APPEAR - instance_muon_condition
    {%- endblock instance_muon_condition %}
  {%- endif %}
{%- endblock instantiation %}
{#- eof #}
