{%- extends "templateLoops/iterate_condition.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type in (
    "SingleEgamma", "DoubleEgamma", "TripleEgamma", "QuadEgamma",
    "SingleTau", "DoubleTau", "TripleTau", "QuadTau",
    "SingleJet", "DoubleJet", "TripleJet", "QuadJet") %}
    {%- block instantiate_calo_condition scoped %}
      THIS SHOULD NOT APPEAR - instantiate_calo_condition
    {%- endblock instantiate_calo_condition %}
  {%- endif %}
{%- endblock instantiation %}
{# eof #}
