{%- extends "templateLoops/condLoop.j2" %}
{%- block instantiation%}
  {#
  ############
  {{signalEtaPhiList}}
  {{algorithm_name}}   {{condName}}
  ###############
  #}
  {%- if condName=="wsc"%} {# WscCondition not set yet --- to be changed  #}
    {%- set objType = algoDict['condDict'][condName]['objType'] %} 
    {%- if not signalEtaPhiList.has_key(objType)%}
      {# ---------------------- OBJTYPE ADDED{{objType}}  #} 
      {%-if signalEtaPhiList.__setitem__(objType,[]) %}
      {%-endif %}
      {%- set nObj = condDict['objList'] | count %}
      {%- for iObj in range(nObj) %}
        {%- set objDict = condDict['objList'][iObj] %}
        {%-if not objDict['Bx'] in signalEtaPhiList[objType] %}
          {%-if signalEtaPhiList[objType].append(objDict['Bx'])%}
          {%-endif%}
        {%-endif%}
      {%-endfor%}
    {%- endif%}
  {%- endif%}
{%- endblock instantiation %}
{# eof #}
