{%- extends "templateLoops/iterate_condition.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type in ("MinBiasHFP0", "MinBiasHFP1", "MinBiasHFM0", "MinBiasHFM1") %}
    {%- block instantiate_minbiashf_condition scoped %}
      THIS SHOULD NOT APPEAR - instantiate_minbiashf_condition
    {%- endblock instantiate_minbiashf_condition %}
  {%- endif %}
{%- endblock instantiation %}
{#- eof #}
