{%- extends "templateLoops/iterate_condition.j2" %}
{%- block instantiation %}
  {%- set condition = algorithm.conditions[condition_name] %}
  {%- if condition.type in (
    "SingleMuon", "DoubleMuon", "TripleMuon", "QuadMuon") %}
    {%- block instantiate_muon_condition scoped %}
      THIS SHOULD NOT APPEAR - instantiate_muon_condition
    {%- endblock instantiate_muon_condition %}
  {%- endif %}
{%- endblock instantiation %}
{#- eof #}
