{%- extends "templateLoops/condLoop.j2" %}
{%- block instantiation %}
  {%- set conditionName = condition_name %}
  {%- if conditionName not in conditionSet %}
    {%- if conditionSet.append(conditionName)%}
    {%- endif %}
  {%- endif %}
  {%- block instance_signal_condition scoped %}
    THIS SHOULD NOT APPEAR - instance_signal_condition
  {%- endblock instance_signal_condition %}
{%- endblock %}
{# eof #}
