{%- set conditionSet = [] %}
{%- set signalEtaPhiList = {} %}
{%- for algorithm_name in menu.reporter['index_sorted'] %}
  {% set algorithm_loop = loop %}
  {%- set algorithm = menu.reporter['algoDict'][algorithm_name] %}
  {%- set algorithm_index = algorithm.index %}
  {%- block algorithm_loop scoped %}
    THIS SHOULD NOT APPEAR - iterate_algorithm
  {%- endblock algorithm_loop %}
{%- endfor %}
{%- block supplementary_loop scoped %}
{%- endblock supplementary_loop %}
{# eof #}
