{%- extends "templateLoops/condLoop.j2" %}
  {%- block objLoop %}
  {%- if condDict['objType'] in ["MU" ] %}
    {%- set objType=condDict['objType'] %}
    {%- set ObjectType= objType %}
    {%- set nObj = menu.reporter['algoDict'][algoName]['condDict'][condName]['objList'] | count %}
    {%- set muCondDict = condDict['ConditionTemplates']['muon_condition_dict']  %}
    {%- set objInfo={}%}
    {%- for iObj in range(nObj) if objType in condDict['objList'][iObj].name%}
      {%- set objDict = condDict['objList'][iObj] %}
            {%-if loop.index0==0 %}
              {%- if objInfo.update({"Bx": objDict.bx  , "op":objDict.operator }) %}
                {%-endif%}{#- dirty way of doing "do" #}
            {%- endif %}
    {%- endfor%}
    {%- set Bx = objInfo['Bx'] %}
{#-#}
      {%- block instance_muon_condition scoped%}
      THIS SHOULD NOT APPEAR
      {%- endblock instance_muon_condition%}
  {%- endif%}
{%- endblock objLoop %}

