{%- extends "templateLoops/condLoop.j2" %}
{%- block objLoop %}
  {%- set condition = algoDict['condDict'][condName]%}
  {%- if condition.type in ("TotalEt", "TotalHt", "MissingEt", "MissingHt") %}
    {%- block instance_esums_condition scoped%}
      THIS SHOULD NOT APPEAR
    {%- endblock instance_esums_condition%}
  {%- endif%}
{%- endblock objLoop %}
{#- eof #}
