{%- extends "templateLoops/condLoop.j2" %}
{%- block objLoop %}
  {%- set condition = algoDict['condDict'][condName]%}
  {%- if condition.type in (
    "SingleMuon", "DoubleMuon", "TripleMuon", "QuadMuon") %}
    {%- block instance_muon_condition scoped%}
      THIS SHOULD NOT APPEAR
    {%- endblock instance_muon_condition%}
  {%- endif%}
{%- endblock objLoop %}
{#- eof #}
