{%- extends "templateLoops/condLoop.j2" %}
  {%- block objLoop %}
  {%- if condDict['objType'] in ["ETT","HTT","ETM","HTM" ] %}
    {%- set objName=condDict['objType'] %}
    {%- set ObjectType= objName + "_TYPE" %}
    {%- set nObj = menu.reporter['algoDict'][algoName]['condDict'][condName]['objList'] | count %}
    {%- set esumsCondDict = condDict['ConditionTemplates']['esums_condition_dict']  %}
    {%- set objInfo={}%}
    {%- for iObj in range(nObj) if objName in condDict['objList'][iObj]['name']%}
      {%- set objDict = condDict['objList'][iObj] %}
            {%-if loop.index0==0 %}
              {%- if objInfo.update({"Bx": objDict['Bx']  , "op":objDict["op"]>0 }) %}
                {%-endif%}{#- dirty way of doing "do" #}
            {%- endif %}
    {%- endfor%}
    {%- set Bx = objInfo['Bx'] %}
{#-#}
      {%- block instance_esums_condition scoped%}
      THIS SHOULD NOT APPEAR
      {%- endblock instance_esums_condition%}

  {%- endif%}
{%- endblock objLoop %}

