{%- extends "templateLoops/condLoop.j2" %}
  {%- block objLoop %}
  {%- if condDict['objType'] in ["ETT","HTT","ETM","HTM" ] %}
    {%- if condName in menu.reporter['moduleCondSet'][iMod] %}
      {%- set objType=condDict['objType'] %}
      {%- set ObjectType= objType %}
      {%- set nObj = menu.reporter['algoDict'][algoName]['condDict'][condName]['objList'] | count %}
      {%- set esumsCondDict = condDict['ConditionTemplates']['esums_condition_dict'].copy()  %}
      {%- set objInfo={}%}
      {%- for iObj in range(nObj) if objType in condDict['objList'][iObj]['name']%}
        {%- set objDict = condDict['objList'][iObj] %}
              {%-if loop.index0==0 %}
                {%- if objInfo.update({"Bx": objDict['Bx']  , "op":objDict["op"]>0 }) %}
                  {%-endif%}{#- dirty way of doing "do" #}
              {%- endif %}
      {%- endfor%}
      {%- set Bx = objInfo['Bx'] %}
  {#-#}
        {%- block instance_esums_condition scoped%}
        THIS SHOULD NOT APPEAR
        {%- endblock instance_esums_condition%}
    {%- endif%}
  {%- endif%}
{%- endblock objLoop %}

