{%- extends "templateLoops/condLoop.j2" %}
  {%- block objLoop %}
  {%- if condDict['objType'] in ["EG", "JET", "TAU" ] %}
    {%- set objType=condDict['objType'] %}
    {%- set ObjectType= objType %}
    {%- set nObj = menu.reporter['algoDict'][algoName]['condDict'][condName]['objList'] | count %}
    {%- set caloCondDict = condDict['ConditionTemplates']['calo_condition_dict']  %}
    {%- set objInfo={}%}
    {%- for iObj in range(nObj) if objType in condDict['objList'][iObj]['name']%}
      {%- set objDict = condDict['objList'][iObj] %}
            {%-if loop.index0==0 %}
              {%- if objInfo.update({"Bx": objDict['Bx']  , "op":objDict["op"] }) %}
                {%-endif%}{#- dirty way of doing "do" #}
            {%- endif %}
    {%- endfor%}
    {%- set Bx = objInfo['Bx'] %}
{#-#}
{#-#}
{#-#}
{#-#}
{#-#}
      {%- block instance_calo_condition scoped%}
      THIS SHOULD NOT APPEAR
      {%- endblock %}
  {%- endif%}
{%- endblock objLoop %}

