{%- extends "templateLoops/condLoop.j2" %}
{%- block objLoop %}
  {%- set condition = algoDict.conditions[condName] %}
  {%- if condition.type in (
    "SingleEgamma", "DoubleEgamma", "TripleEgamma", "QuadEgamma",
    "SingleTau", "DoubleTau", "TripleTau", "QuadTau",
    "SingleJet", "DoubleJet", "TripleJet", "QuadJet") %}
    {%- block instance_calo_condition scoped %}
      THIS SHOULD NOT APPEAR
    {%- endblock %}
  {%- endif %}
{%- endblock objLoop %}
{# eof #}
