{%- extends "templateLoops/condLoop.j2" %}
{%- block objLoop %}
  {%- if condDict['objType'] in ("EG", "JET", "TAU") %}
    {%- set objects = condDict['objList'] %}
    {%- set Bx = objects[0].bx %}
    {%- set caloCondDict = condDict['ConditionTemplates']['calo_condition_dict']  %}
    {%- block instance_calo_condition scoped%}
      THIS SHOULD NOT APPEAR
    {%- endblock %}
  {%- endif%}
{%- endblock objLoop %}
{# eof #}
