{%- extends "templateLoops/condLoop.j2" %}
  {%- block objLoop%}
  {%- set objType = condDict['objType'] %} 
  {%- set nObj = condDict['objList'] | count %}
  {%- if objType == "MU" and nObj > 0%}
  {%- if not muonChargeCorrelationList.has_key(objType)%}
      {#- ---------------------- OBJTYPE ADDED{{objType}}  #} 
      {%-if muonChargeCorrelationList.__setitem__(objType,[]) %} {%-endif %}
  {%- for iObj in range(nObj) %}
    {%- set objDict = condDict['objList'][iObj] %}
          {%-if not objDict['Bx'] in muonChargeCorrelationList[objType] %}
            {%-if muonChargeCorrelationList[objType].append(objDict['Bx'])%}
            {%-endif%}
          {%-endif%}
  {%- endfor%}
  {%- endif%}
  {%- endif%}
{%- endblock objLoop %}



