{%- block signal_correlation_conditions_differences %}
  {%- set combinations = menu.reporter['ObjectPairForCorrelation'] %}
  {%- for o1, o2 in combinations %}
diff_{{o1.type|lower}}_{{o2.type|lower}}_eta_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_i: entity work.sub_eta_integer_obj_vs_obj
  generic map(NR_{{o1.type|upper}}_OBJECTS, NR_{{o2.type|upper}}_OBJECTS)
  port map({{o1.type|lower}}_eta_integer_bx_{{o1.bx|lower}}, {{o2.type|lower}}_eta_integer_bx_{{o2.bx|lower}}, diff_{{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_eta_integer);      

  {{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_l1: for i in 0 to NR_{{o1.type|upper}}_OBJECTS-1 generate
    {{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_l2: for j in 0 to NR_{{o2.type|upper}}_OBJECTS-1 generate
      diff_{{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_eta_integer_value(i,j) <= {{o1.type|upper}}_{{o2.type|upper}}_DIFF_ETA_LUT(diff_{{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_eta_integer(i,j));
      diff_{{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_phi_integer_value(i,j) <= {{o1.type|upper}}_{{o2.type|upper}}_DIFF_PHI_LUT(diff_{{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_phi_integer(i,j));
    end generate {{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_l2;
  end generate {{o1.type|lower}}_{{o2.type|lower}}_bx_{{o1.bx|lower}}_bx_{{o2.bx|lower}}_l1;

  {%- endfor %}
{%- endblock signal_correlation_conditions_differences %}
{# eof #}
