{%- extends "templateLoops/instantiate_esums_condition.j2" %}
{%- block instantiate_esums_condition %}
  {%- set objects = condition.objects %}
  {%- set cuts = condition.template %}
{{condition_name | lower}}_i: entity work.esums_conditions
    generic map({{ objects[0].operator | lower  }}, {{objects[0].type}}_TYPE,
        X"{{cuts.Thresholds[0] | X04}}",
        {{cuts.PhiFullRange[0]}}, X"{{cuts.PhiW1UpperLimits[0] | X04}}", X"{{cuts.PhiW1LowerLimits[0] | X04}}",
        {{cuts.PhiW2Ignore[0]}}, X"{{cuts.PhiW2UpperLimits[0] | X04}}", X"{{cuts.PhiW2LowerLimits[0] | X04}}"
        )
    port map(lhc_clk, {{objects[0].type | lower}}_bx_{{objects[0].bx | lower}}, {{condition_name | lower}});
{% endblock instantiate_esums_condition %}
{# eof #}
