#### ONlY once 
{%- extends "templateLoops/objLoop_instance_muon_charge_correlations.j2" %}
{%- block instance_muon_charge_correlation %}
{%- endblock instance_muon_charge_correlation %}
{%- block outerLoop %}
{%- for objName in muonChargeCorrelationList %}
  {%- for Bx in muonChargeCorrelationList[objName] %}
muon_charge_correlations_bx_{{Bx|lower}}_i: entity work.muon_charge_correlations
    port map(muon_bx_{{Bx|lower}},
        ls_charcorr_double_bx_{{Bx|lower}}, os_charcorr_double_bx_{{Bx|lower}},
        ls_charcorr_triple_bx_{{Bx|lower}}, os_charcorr_triple_bx_{{Bx|lower}},
        ls_charcorr_quad_bx_{{Bx|lower}}, os_charcorr_quad_bx_{{Bx|lower}});
{%-endfor%}
{%-endfor%}
{%- endblock outerLoop%}
{#-#}
{#-#}
