{%- extends "templateLoops/objLoop_instance_muon_muon_correlation.j2" %}
{%- block instance_muon_muon_correlation %}
{{condName|lower}}_i: entity work.muon_muon_correlation
    generic map({{condInfo['same_bx']}},
	{{ cutType['deta'] |lower}}, {{ cutType['dphi'] |lower}}, {{ cutType['dr'] |lower}}, {{ cutType['mass'] |lower}},
	{{ objInfo1['op'] |lower}}, X"{{muonmuonCondDict['PtThreshold1']|X04}}",
        {{muonmuonCondDict['EtaFullRange1']}}, X"{{muonmuonCondDict['EtaW1UpperLimit1']|X04}}",(X"{{muonmuonCondDict['EtaW1LowerLimit1']|X04}}",
        {{muonmuonCondDict['EtaW2Ignore1']}}, X"{{muonmuonCondDict['EtaW2UpperLimit1']|X04}}", X"{{muonmuonCondDict['EtaW2LowerLimit1']|X04}}",
        {{muonmuonCondDict['PhiFullRange1']}}, X"{{muonmuonCondDict['PhiW1UpperLimit1']|X04}}", X"{{muonmuonCondDict['PhiW1LowerLimit1']|X04}}",
        {{muonmuonCondDict['PhiW2Ignore1']}}, X"{{muonmuonCondDict['PhiW2UpperLimit1']|X04}}", X"{{muonmuonCondDict['PhiW2LowerLimit1']|X04}}",  
	"{{muonmuonCondDict['RequestedCharge1']}}", X"{{muonmuonCondDict['QualityLut1']|X04}}", X"{{muonmuonCondDict['IsoLut1']|X01}}",	
	{{ objInfo2['op'] |lower}}, X"{{muonmuonCondDict['PtThreshold2']|X04}}",
        {{muonmuonCondDict['EtaFullRange2']}}, X"{{muonmuonCondDict['EtaW1UpperLimit2']|X04}}",(X"{{muonmuonCondDict['EtaW1LowerLimit2']|X04}}",
        {{muonmuonCondDict['EtaW2Ignore2']}}, X"{{muonmuonCondDict['EtaW2UpperLimit2']|X04}}", X"{{muonmuonCondDict['EtaW2LowerLimit2']|X04}}",
        {{muonmuonCondDict['PhiFullRange2']}}, X"{{muonmuonCondDict['PhiW1UpperLimit2']|X04}}", X"{{muonmuonCondDict['PhiW1LowerLimit2']|X04}}",
        {{muonmuonCondDict['PhiW2Ignore2']}}, X"{{muonmuonCondDict['PhiW2UpperLimit2']|X04}}", X"{{muonmuonCondDict['PhiW2LowerLimit2']|X04}}",  
	"{{muonmuonCondDict['RequestedCharge2']}}", X"{{muonmuonCondDict['QualityLut2']|X04}}", X"{{muonmuonCondDict['IsoLut2']|X01}}",
	"{{muonmuonCondDict['RequestedChargeCorrelation']}}",
        {{muonmuonCondDict['DiffEtaUpperLimit']}}, {{muonmuonCondDict['DiffEtaLowerLimit']}}, {{muonmuonCondDict['DiffPhiUpperLimit']}}, {{muonmuonCondDict['DiffPhiLowerLimit']}}, DETA_DPHI_LIMITS_PRECISION_ALL,
        {{muonmuonCondDict['DeltaRUpperLimit']}}, {{muonmuonCondDict['DeltaRLowerLimit']}}, DR_LIMITS_PRECISION_ALL, 
        {{muonmuonCondDict['InvMassUpperLimit']}}, {{muonmuonCondDict['InvMassLowerLimit']}}, INV_MASS_LIMITS_PRECISION_ALL,
        MUON_INV_MASS_PT_PRECISION, MUON_PT_VECTOR_WIDTH, MUON_PT_VECTOR_WIDTH, MUON_COSH_COS_VECTOR_WIDTH
    )
    port map(lhc_clk, muon_bx_{{Bx1|lower}}, muon_bx_{{Bx2|lower}}, ls_charcorr_double_{{Bx1|lower}}_{{Bx2|lower}}, os_charcorr_double_{{Bx1|lower}}_{{Bx2|lower}},
	diff_muon_muon_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_eta_integer_value, diff_muon_muon_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_phi_integer_value, 
        muon_pt_vector_bx_{{Bx1|lower}}, muon_pt_vector_bx_{{Bx2|lower}}, muon_muon_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_cosh_deta_vector, muon_muon_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_cos_dphi_vector,
	{{condName|lower}});
{% endblock instance_muon_muon_correlation %}