{%-  extends "templateLoops/algoLoop.j2" %}
{%- block condLoop %}
{%- set localAlgoIndex = menu.reporter['a2m'][algoIndex][1] %}
{{algoName}} <= {{algoDict['expInCond']|lower }};
algo({{localAlgoIndex|d}}) <= {{algoName}};
{%- endblock condLoop %}
