{%-  extends "templateLoops/algoLoop.j2" %}
{%- block condLoop %}
    #### {{algoIndex}}
{{algoName}} <= {{algoDict['algo'].getExpressionInCondition() }};
algo({{menu.reporter['a2m'][algoIndex]|d}}) <= {{algoName}};
{%- endblock condLoop %}
