{%- extends "templateLoops/objLoop_instance_esums_condition.j2" %}
{%- block instance_esums_condition %}
{{condName}}_i: entity work.esums_conditions
    generic map({{ objInfo['op'] | lower  }}, {{ObjectType}}_TYPE,
        X"{{esumsCondDict["EtThreshold"][0]|X04}}",
        {{esumsCondDict["PhiFullRange"][0]}}, X"{{esumsCondDict["PhiW1UpperLimit"][0]|X04}}", X"{{esumsCondDict["PhiW1LowerLimit"][0]|X04}}",
        {{esumsCondDict["PhiW2Ignore"][0]}}, X"{{esumsCondDict["PhiW2UpperLimit"][0]|X04}}", X"{{esumsCondDict["PhiW2LowerLimit"][0]|X04}}"
        )
    port map(lhc_clk, {{ObjectType|lower}}_bx_{{Bx|lower}}, {{condName}});
{%endblock instance_esums_condition %}
