{%- extends "templateLoops/objLoop_instance_muon_muon_correlation_condition.j2" %}
{%- block instance_muon_muon_correlation_condition %}
{{condName|lower}}_i: entity work.muon_muon_correlation_condition
  generic map(
    {{MuMuCondDict['objectsInSameBx']}},
	  {{MuMuCondDict['hasDetaCut'] |lower}}, {{MuMuCondDict['hasDphiCut'] |lower}}, {{MuMuCondDict['hasDrCut'] |lower}}, {{MuMuCondDict['hasMassCut'] |lower}},
	  {{obj1['op'] |lower}},
    X"{{obj1['EtThreshold']|X04}}",
    {{obj1['EtaFullRange']}}, X"{{obj1['EtaW1UpperLimits']|X04}}", X"{{obj1['EtaW1LowerLimits']|X04}}",
    {{obj1['EtaW2Ignore']}}, X"{{obj1['EtaW2UpperLimits']|X04}}", X"{{obj1['EtaW2LowerLimits']|X04}}",
    {{obj1['PhiFullRange']}}, X"{{obj1['PhiW1UpperLimits']|X04}}", X"{{obj1['PhiW1LowerLimits']|X04}}",
    {{obj1['PhiW2Ignore']}}, X"{{obj1['PhiW2UpperLimits']|X04}}", X"{{obj1['PhiW2LowerLimits']|X04}}",  
	  "{{obj1['RequestedCharges']}}", X"{{obj1['QualityLuts']|X04}}", X"{{obj1['IsolationLuts']|X01}}",	
	  {{ obj2['op'] |lower}},
    X"{{obj2['EtThreshold']|X04}}",
    {{obj2['EtaFullRange']}}, X"{{obj2['EtaW1UpperLimits']|X04}}",X"{{obj2['EtaW1LowerLimits']|X04}}",
    {{obj2['EtaW2Ignore']}}, X"{{obj2['EtaW2UpperLimits']|X04}}", X"{{obj2['EtaW2LowerLimits']|X04}}",
    {{obj2['PhiFullRange']}}, X"{{obj2['PhiW1UpperLimits']|X04}}", X"{{obj2['PhiW1LowerLimits']|X04}}",
    {{obj2['PhiW2Ignore']}}, X"{{obj2['PhiW2UpperLimits']|X04}}", X"{{obj2['PhiW2LowerLimits']|X04}}",  
	  "{{obj2['RequestedCharges']}}", X"{{obj2['QualityLuts']|X04}}", X"{{obj2['IsolationLuts']|X01}}",
	  "{{MuMuCondDict['RequestedChargeCorrelation']}}",
    {{MuMuCondDict['DiffEtaUpperLimit']}}, {{MuMuCondDict['DiffEtaLowerLimit']}},
    {{MuMuCondDict['DiffPhiUpperLimit']}}, {{MuMuCondDict['DiffPhiLowerLimit']}},
    {{MuMuCondDict['DeltaRUpperLimit']}}, {{MuMuCondDict['DeltaRLowerLimit']}}, DETA_DPHI_VECTOR_WIDTH_ALL, MUON_MUON_DETA_DPHI_PRECISION,
    {{MuMuCondDict['InvMassUpperLimit']}}, {{MuMuCondDict['InvMassLowerLimit']}}, MUON_MUON_INV_MASS_PRECISION, MUON_PT_VECTOR_WIDTH, MUON_MUON_COSH_COS_PRECISION, MUON_MUON_COSH_COS_VECTOR_WIDTH
  )
  port map(lhc_clk, muon_bx_{{obj1['Bx']|lower}}, muon_bx_{{obj2['Bx']|lower}},
           ls_charcorr_double_{{obj1['Bx']|lower}}_{{obj2['Bx']|lower}}, os_charcorr_double_{{obj1['Bx']|lower}}_{{obj2['Bx']|lower}},
	         diff_muon_muon_bx_{{obj1['Bx']|lower}}_bx_{{obj2['Bx']|lower}}_eta_vector, diff_muon_muon_bx_{{obj1['Bx']|lower}}_bx_{{obj2['Bx']|lower}}_phi_vector, 
           muon_pt_vector_bx_{{obj1['Bx']|lower}}, muon_pt_vector_bx_{{obj2['Bx']|lower}},
           muon_muon_bx_{{obj1['Bx']|lower}}_bx_{{obj2['Bx']|lower}}_cosh_deta_vector, muon_muon_bx_{{obj1['Bx']|lower}}_bx_{{obj2['Bx']|lower}}_cos_dphi_vector,
	         {{condName|lower}});
{% endblock instance_muon_muon_correlation_condition %}
{# eof #}
