{%- extends "templateLoops/instantiate_calo_esums_correlation_condition.j2" %}
{%- block instance_calo_esums_correlation_condition %}
  {%- set cuts = condition.template %}
  {%- set obj1 = cuts.objects[0] %}
  {%- set obj2 = cuts.objects[1] %}
  {%- set type1 = condition.objects[0].type %}
  {%- set type2 = condition.objects[1].type %}
  {%- set bx1 = condition.objects[0].bx %}
  {%- set bx2 = condition.objects[1].bx %}
{{condition_name | lower}}_i: entity work.calo_esums_correlation_condition
  generic map(
	  NR_{{type1 | upper}}_OBJECTS, {{condition.objects[0].operator | lower}}, {{type1 | upper}}_TYPE,
    X"{{obj1.Thresholds[0] | X04}}",
    {{obj1.EtaFullRange[0]}}, X"{{obj1.EtaW1UpperLimits[0] | X04}}", X"{{obj1.EtaW1LowerLimits[0] | X04}}",
    {{obj1.EtaW2Ignore[0]}}, X"{{obj1.EtaW2UpperLimits[0] | X04}}", X"{{obj1.EtaW2LowerLimits[0] | X04}}",
    {{obj1.PhiFullRange[0]}}, X"{{obj1.PhiW1UpperLimits[0] | X04}}", X"{{obj1.PhiW1LowerLimits[0] | X04}}",
    {{obj1.PhiW2Ignore[0]}}, X"{{obj1.PhiW2UpperLimits[0] | X04}}", X"{{obj1.PhiW2LowerLimits[0] | X04}}",
	  X"{{obj1.IsolationLUTs[0] | X01}}",
    {{condition.objects[1].operator | lower}}, {{type2 | upper}}_TYPE,
    X"{{obj2.Thresholds[0] | X04}}",
    {{obj2.PhiFullRange[0]}}, X"{{obj2.PhiW1UpperLimits[0] | X04}}", X"{{obj2.PhiW1LowerLimits[0] | X04}}",
    {{obj2.PhiW2Ignore[0]}}, X"{{obj2.PhiW2UpperLimits[0] | X04}}", X"{{obj2.PhiW2LowerLimits[0] | X04}}",
    {{cuts.DiffPhiUpperLimit}}, {{cuts.DiffPhiLowerLimit}}, DETA_DPHI_VECTOR_WIDTH_ALL, {{type1 | upper}}_{{type2 | upper}}_DPHI_PRECISION
  )
  port map(lhc_clk, {{type1 | lower}}_bx_{{bx1 | lower}}, {{type2 | lower}}_bx_{{bx2 | lower}},
	         diff_{{type1 | lower}}_{{type2 | lower}}_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_phi_vector,
	         {{condition_name | lower}});
{%- endblock instance_calo_esums_correlation_condition %}
{# eof #}
