{%- extends "templateLoops/instantiate_muon_muon_correlation_condition.j2" %}
{%- block instance_muon_muon_correlation_condition %}
  {%- set cuts = condition.template %}
  {%- set obj1 = cuts.objects[0] %}
  {%- set obj2 = cuts.objects[1] %}
  {%- set bx1 = condition.objects[0].bx %}
  {%- set bx2 = condition.objects[1].bx %}
{{condition_name | lower}}_i: entity work.muon_muon_correlation_condition
  generic map(
    {{cuts.objectsInSameBx}},
	  {{cuts.hasDetaCut | lower}}, {{cuts.hasDphiCut | lower}}, {{cuts.hasDrCut | lower}}, {{cuts.hasMassCut | lower}},
	  {{condition.objects[0].operator | lower}},
    X"{{obj1.Thresholds[0] | X04}}",
    {{obj1.EtaFullRange[0]}}, X"{{obj1.EtaW1UpperLimits[0] | X04}}", X"{{obj1.EtaW1LowerLimits[0] | X04}}",
    {{obj1.EtaW2Ignore[0]}}, X"{{obj1.EtaW2UpperLimits[0] | X04}}", X"{{obj1.EtaW2LowerLimits[0] | X04}}",
    {{obj1.PhiFullRange[0]}}, X"{{obj1.PhiW1UpperLimits[0] | X04}}", X"{{obj1.PhiW1LowerLimits[0] | X04}}",
    {{obj1.PhiW2Ignore[0]}}, X"{{obj1.PhiW2UpperLimits[0] | X04}}", X"{{obj1.PhiW2LowerLimits[0] | X04}}",  
	  "{{obj1.Charges[0]}}", X"{{obj1.QualityLUTs[0] | X04}}", X"{{obj1.IsolationLUTs[0] | X01}}",	
	  {{condition.objects[1].operator | lower}},
    X"{{obj2.Thresholds[0] | X04}}",
    {{obj2.EtaFullRange[0]}}, X"{{obj2.EtaW1UpperLimits[0] | X04}}",X"{{obj2.EtaW1LowerLimits[0] | X04}}",
    {{obj2.EtaW2Ignore[0]}}, X"{{obj2.EtaW2UpperLimits[0] | X04}}", X"{{obj2.EtaW2LowerLimits[0] | X04}}",
    {{obj2.PhiFullRange[0]}}, X"{{obj2.PhiW1UpperLimits[0] | X04}}", X"{{obj2.PhiW1LowerLimits[0] | X04}}",
    {{obj2.PhiW2Ignore[0]}}, X"{{obj2.PhiW2UpperLimits[0] | X04}}", X"{{obj2.PhiW2LowerLimits[0] | X04}}",  
	  "{{obj2.Charges[0]}}", X"{{obj2.QualityLUTs[0] | X04}}", X"{{obj2.IsolationLUTs[0] | X01}}",
	  "{{cuts.ChargeCorrelation}}",
    {{cuts.DiffEtaUpperLimit}}, {{cuts.DiffEtaLowerLimit}},
    {{cuts.DiffPhiUpperLimit}}, {{cuts.DiffPhiLowerLimit}},
    {{cuts.DeltaRUpperLimit}}, {{cuts.DeltaRLowerLimit}}, DETA_DPHI_VECTOR_WIDTH_ALL, MUON_MUON_DETA_DPHI_PRECISION,
    {{cuts.InvMassUpperLimit}}, {{cuts.InvMassLowerLimit}}, MUON_MUON_INV_MASS_PRECISION, MUON_PT_VECTOR_WIDTH, MUON_MUON_COSH_COS_PRECISION, MUON_MUON_COSH_COS_VECTOR_WIDTH
  )
  port map(lhc_clk, muon_bx_{{bx1 | lower}}, muon_bx_{{bx2 | lower}},
           ls_charcorr_double_{{bx1 | lower}}_{{bx2 | lower}}, os_charcorr_double_{{bx1 | lower}}_{{bx2 | lower}},
	         diff_muon_muon_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_eta_vector, diff_muon_muon_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_phi_vector, 
           muon_pt_vector_bx_{{bx1 | lower}}, muon_pt_vector_bx_{{bx2 | lower}},
           muon_muon_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_cosh_deta_vector, muon_muon_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_cos_dphi_vector,
	         {{condition_name | lower}});
{%- endblock instance_muon_muon_correlation_condition %}
{# eof #}
