{%- set bxComb = menu.reporter['bxComb'] %}
{%- block instance_muon_charge_correlation %}
{%- endblock instance_muon_charge_correlation %}
{%- block outerLoop %}
  {%- for bxPair in bxComb %}
    {%- set bx1,bx2 = bxPair %}
muon_charge_correlations_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}_i: entity work.muon_charge_correlations
  port map(muon_bx_{{bx1 | lower}}, muon_bx_{{bx2 | lower}},
    ls_charcorr_double_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_double_bx_{{bx1 | lower}}_bx_{{bx2 | lower}},
    ls_charcorr_triple_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_triple_bx_{{bx1 | lower}}_bx_{{bx2 | lower}},
    ls_charcorr_quad_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_quad_bx_{{bx1 | lower}}_bx_{{bx2 | lower}});
  {%-endfor%}
{%- endblock outerLoop%}
{# eof #}
