    signal diff_{{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_eta_integer: dim2_max_eta_range_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_phi_integer: dim2_max_phi_range_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_eta_integer_value: diff_2dim_integer_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => 0));
    signal diff_{{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_phi_integer_value: diff_2dim_integer_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => 0));
    signal {{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_cosh_deta_vector : calo_cosh_cos_vector_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => (others => '0')));
    signal {{objName1|lower}}_{{objName2|lower}}_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}_cos_dphi_vector : calo_cosh_cos_vector_array(0 to NR_{{objName1|upper}}_OBJECTS-1, 0 to NR_{{objName2|upper}}_OBJECTS-1) := (others => (others => (others => '0')));
