{%- extends "templateLoops/iterate_algorithm.j2" %}
{%- block algorithm_loop %}
  {%- if algorithm_index in menu.reporter['m2a'][iMod].values() %}
    signal {{algorithm_name}} : std_logic;
  {%- endif %}
{%- endblock algorithm_loop %}
{# eof #}
