    signal {{objName|lower}}_pt_vector_bx_{{Bx|lower}}: diff_inputs_array(0 to NR_{{objName|upper}}_OBJECTS-1) := (others => (others => '0'));
    signal {{objName|lower}}_eta_integer_bx_{{Bx|lower}}: diff_integer_inputs_array(0 to NR_{{objName|upper}}_OBJECTS-1) := (others => 0);
    signal {{objName|lower}}_phi_integer_bx_{{Bx|lower}}: diff_integer_inputs_array(0 to NR_{{objName|upper}}_OBJECTS-1) := (others => 0);
    signal {{objName|lower}}_eta_conv_2_muon_eta_integer_bx_{{Bx|lower}}: diff_integer_inputs_array(0 to NR_{{objName|upper}}_OBJECTS-1) := (others => 0);
    signal {{objName|lower}}_phi_conv_2_muon_phi_integer_bx_{{Bx|lower}}: diff_integer_inputs_array(0 to NR_{{objName|upper}}_OBJECTS-1) := (others => 0);
