{%- block signal_correlation_conditions_differences %}
  {%- set combinations = menu.reporter['ObjectPairForCorrelation'] %}
  {%- for o1, o2 in combinations %}
signal diff_{{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_eta_integer: dim2_max_eta_range_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => 0));
signal diff_{{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_phi_integer: dim2_max_phi_range_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => 0));
signal diff_{{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_eta_vector: diff_2dim_integer_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => 0));
signal diff_{{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_phi_vector: diff_2dim_integer_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => 0));
signal {{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_cosh_deta_vector : calo_cosh_cos_vector_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => (others => '0')));
signal {{o1.type | lower}}_{{o2.type | lower}}_bx_{{o1.bx | lower}}_bx_{{o2.bx | lower}}_cos_dphi_vector : calo_cosh_cos_vector_array(0 to NR_{{o1.type | upper}}_OBJECTS-1, 0 to NR_{{o2.type|upper}}_OBJECTS-1) := (others => (others => (others => '0')));
  {%- endfor %}
{%- endblock signal_correlation_conditions_differences %}
{# eof #}
