{%- extends "templateLoops/instantiate_signal_condition.j2" %}
{%- block outerLoop %}
  {%- for condition_name in conditionSet %}
    signal {{condition_name | lower}} : std_logic;
  {%- endfor %}
{%- endblock outerLoop %}
{# eof #}
