{%- extends "templateLoops/objLoop_instance_muon_charge_correlations.j2" %}
{%- block instance_muon_charge_correlation %}
{%- endblock instance_muon_charge_correlation %}
{%- block outerLoop %}
{%- for objName in muonChargeCorrelationList %}
  {%- for Bx in muonChargeCorrelationList[objName] %}
    signal ls_charcorr_double_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}, os_charcorr_double_bx_{{Bx1|lower}}_bx_{{Bx2|lower}} : muon_charcorr_double_array;
    signal ls_charcorr_triple_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}, os_charcorr_triple_bx_{{Bx1|lower}}_bx_{{Bx2|lower}} : muon_charcorr_triple_array;
    signal ls_charcorr_quad_bx_{{Bx1|lower}}_bx_{{Bx2|lower}}, os_charcorr_quad_bx_{{Bx1|lower}}_bx_{{Bx2|lower}} : muon_charcorr_quad_array;
{%-endfor%}
{%-endfor%}
{%- endblock outerLoop%}
{#-#}
{#-#}
