{%- extends "templateLoops/objLoop_signal_eta_phi.j2" %}
{#-#}
{%- block signal_eta_phi %}
{%- endblock signal_eta_phi%}
{#-#}
{%- block outerLoop%}
{%- for objName in signalEtaPhiList %}
  {%- for Bx in signalEtaPhiList[objName] %}
    signal {{objName|lower}}_eta_bx_{{Bx|lower}} : diff_inputs_array(0 to NR_{{objName}}_OBJECTS-1) := (others => (others => '0'));
    signal {{objName|lower}}_eta_common_bx_{{Bx|lower}} : diff_inputs_array(0 to NR_{{objName}}_OBJECTS-1) := (others => (others => '0'));
    signal {{objName|lower}}_phi_bx_{{Bx|lower}} : diff_inputs_array(0 to NR_{{objName}}_OBJECTS-1) := (others => (others => '0'));
    signal {{objName|lower}}_phi_common_bx_{{Bx|lower}} : diff_inputs_array(0 to NR_{{objName}}_OBJECTS-1) := (others => (others => '0'));

  {%-endfor%}
{%-endfor%}
{% endblock %}
