{%- set bxComb = menu.reporter['bxComb'] %}
{%- block instance_muon_charge_correlation %}
{%- endblock instance_muon_charge_correlation %}
{%- block outerLoop %}
{%- for bxPair in bxComb %}
  {%- set bx1,bx2 = bxPair %}
  signal ls_charcorr_double_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_double_bx_{{bx1 | lower}}_bx_{{bx2 | lower}} : muon_charcorr_double_array;
  signal ls_charcorr_triple_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_triple_bx_{{bx1 | lower}}_bx_{{bx2 | lower}} : muon_charcorr_triple_array;
  signal ls_charcorr_quad_bx_{{bx1 | lower}}_bx_{{bx2 | lower}}, os_charcorr_quad_bx_{{bx1 | lower}}_bx_{{bx2 | lower}} : muon_charcorr_quad_array;
  {%- endfor %}
{%- endblock outerLoop%}
{# eof #}
