{%- extends "templateLoops/algoLoop.j2" %}
{%- block condition_loop %}
  {%- if algorithm_index in menu.reporter['m2a'][iMod].values() %}
    signal {{algorithm_name}} : std_logic;
  {%- endif %}
{%- endblock %}
{# eof #}
