{%- block instantiate_calo_conditions_orm %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
  {%- set o3 = condition.objects[2] %}
  {%- set o4 = condition.objects[3] %}
  {%- set o5 = condition.objects[4] %}
  {%- set nr_requirements = condition.nr_objects-1 %}
  {%- set thr1 = o1.threshold %}
  {%- set etaNrCuts1 = o1.etaNrCuts %}
  {%- set phiNrCuts1 = o1.phiNrCuts %}
  {%- set etaUpperLimit1 = o1.etaUpperLimit %}
  {%- set etaLowerLimit1 = o1.etaULowerLimit %}
  {%- set phiFullRange1 = o1.phiFullRange %}
  {%- set phiW2Ignore1 = o1.phiW2Ignore %}
  {%- set phiUpperLimit1 = o1.phiUpperLimit %}
  {%- set phiLowerLimit1 = o1.phiULowerLimit %}
  {%- set isolationLUT1 = o1.isolationLUT %}
  {%- set thr2 = o2.threshold %}
  {%- set etaNrCuts2 = o2.etaNrCuts %}
  {%- set phiNrCuts2 = o2.phiNrCuts %}
  {%- set etaUpperLimit2 = o2.etaUpperLimit %}
  {%- set etaLowerLimit2 = o2.etaULowerLimit %}
  {%- set phiFullRange2 = o2.phiFullRange %}
  {%- set phiW2Ignore2 = o2.phiW2Ignore %}
  {%- set phiUpperLimit2 = o2.phiUpperLimit %}
  {%- set phiLowerLimit2 = o2.phiULowerLimit %}
  {%- set isolationLUT2 = o2.isolationLUT %}
  {%- set thr3 = o3.threshold %}
  {%- set etaNrCuts3 = o3.etaNrCuts %}
  {%- set phiNrCuts3 = o3.phiNrCuts %}
  {%- set etaUpperLimit3 = o3.etaUpperLimit %}
  {%- set etaLowerLimit3 = o3.etaULowerLimit %}
  {%- set phiFullRange3 = o3.phiFullRange %}
  {%- set phiW2Ignore3 = o3.phiW2Ignore %}
  {%- set phiUpperLimit3 = o3.phiUpperLimit %}
  {%- set phiLowerLimit3 = o3.phiULowerLimit %}
  {%- set isolationLUT3 = o3.isolationLUT %}
  {%- set thr4 = o4.threshold %}
  {%- set etaNrCuts4 = o4.etaNrCuts %}
  {%- set phiNrCuts4 = o4.phiNrCuts %}
  {%- set etaUpperLimit4 = o4.etaUpperLimit %}
  {%- set etaLowerLimit4 = o4.etaULowerLimit %}
  {%- set phiFullRange4 = o4.phiFullRange %}
  {%- set phiW2Ignore4 = o4.phiW2Ignore %}
  {%- set phiUpperLimit4 = o4.phiUpperLimit %}
  {%- set phiLowerLimit4 = o4.phiULowerLimit %}
  {%- set isolationLUT4 = o4.isolationLUT %}
{{ condition.vhdl_signal }}_i: entity work.calo_conditions_orm
    generic map(
    {%- if condition.hasDeltaEtaOrm %}
        diff_eta_orm_upper_limit_vector => X"{{ condition.deltaEtaOrm.upper|X08 }}", 
        diff_eta_orm_lower_limit_vector => X"{{ condition.deltaEtaOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.hasDeltaPhiOrm %}
        diff_phi_orm_upper_limit_vector => X"{{ condition.deltaPhiOrm.upper|X08 }}", 
        diff_phi_orm_lower_limit_vector => X"{{ condition.deltaPhiOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.hasDeltaROrm %}
        dr_orm_upper_limit_vector => X"{{ condition.deltaROrm.upper|X16 }}", 
        dr_orm_lower_limit_vector => X"{{ condition.deltaROrm.lower|X16 }}",
    {%- endif %}        
    {%- if condition.hasDeltaEtaOrm %}
        deta_orm_cut => {{ condition.deltaEtaOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.hasDeltaPhiOrm %}
        dphi_orm_cut => {{ condition.deltaPhiOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.hasDeltaROrm %}
        dr_orm_cut => {{ condition.deltaROrm.enabled }}, 
    {%- endif %}        
  {%- for i in range(0,nr_requirements) %}
    {%- set o = condition.objects[i+1] %}
    {%- if nr_requirements > i and o.hasSlice %}
        object_slice_{{i+1}}_low => {{ o.sliceLow }}, 
        object_slice_{{i+1}}_high => {{ o.sliceHigh }}, 
    {%- endif %}        
  {%- endfor %}        
-- object cuts
    {%- if not o1.operator %}
        pt_ge_mode_calo1 => {{ o1.operator|vhdl_bool }}, 
    {%- endif %}        
        obj_type_calo1 => {{ o1.type }}_TYPE,
  {%- if nr_requirements == 4 %}
    {% include "instances/object_cuts_calo_orm.tmpl" %}
  {%- elif nr_requirements == 3 %}
    {%- set thr4 = 0 %}
    {%- set etaNrCuts4 = 0 %}
    {%- set phiNrCuts4 = 0 %}
    {%- set etaUpperLimit4 = 0 %}
    {%- set etaLowerLimit4 = 0 %}
    {%- set phiFullRange4 = true %}
    {%- set phiW2Ignore4 = true %}
    {%- set phiUpperLimit4 = 0 %}
    {%- set phiLowerLimit4 = 0 %}
    {%- set isolationLUT4 = 15 %}
    {%- include "instances/object_cuts_calo_orm.tmpl" %}
  {%- elif nr_requirements == 2 %}
    {%- set thr3 = 0 %}
    {%- set etaNrCuts3 = 0 %}
    {%- set phiNrCuts3 = 0 %}
    {%- set etaUpperLimit3 = 0 %}
    {%- set etaLowerLimit3 = 0 %}
    {%- set phiFullRange3 = true %}
    {%- set phiW2Ignore3 = true %}
    {%- set phiUpperLimit3 = 0 %}
    {%- set phiLowerLimit3 = 0 %}
    {%- set isolationLUT3 = 15 %}
    {%- set thr4 = 0 %}
    {%- set etaNrCuts4 = 0 %}
    {%- set phiNrCuts4 = 0 %}
    {%- set etaUpperLimit4 = 0 %}
    {%- set etaLowerLimit4 = 0 %}
    {%- set phiFullRange4 = true %}
    {%- set phiW2Ignore4 = true %}
    {%- set phiUpperLimit4 = 0 %}
    {%- set phiLowerLimit4 = 0 %}
    {%- set isolationLUT4 = 15 %}
    {%- include "instances/object_cuts_calo_orm.tmpl" %}
  {%- elif nr_requirements == 1 %}
    {%- set thr2 = 0 %}
    {%- set etaNrCuts2 = 0 %}
    {%- set phiNrCuts2 = 0 %}
    {%- set etaUpperLimit2 = 0 %}
    {%- set etaLowerLimit2 = 0 %}
    {%- set phiFullRange2 = true %}
    {%- set phiW2Ignore2 = true %}
    {%- set phiUpperLimit2 = 0 %}
    {%- set phiLowerLimit2 = 0 %}
    {%- set isolationLUT2 = 15 %}
    {%- set thr3 = 0 %}
    {%- set etaNrCuts3 = 0 %}
    {%- set phiNrCuts3 = 0 %}
    {%- set etaUpperLimit3 = 0 %}
    {%- set etaLowerLimit3 = 0 %}
    {%- set phiFullRange3 = true %}
    {%- set phiW2Ignore3 = true %}
    {%- set phiUpperLimit3 = 0 %}
    {%- set phiLowerLimit3 = 0 %}
    {%- set isolationLUT3 = 15 %}
    {%- set thr4 = 0 %}
    {%- set etaNrCuts4 = 0 %}
    {%- set phiNrCuts4 = 0 %}
    {%- set etaUpperLimit4 = 0 %}
    {%- set etaLowerLimit4 = 0 %}
    {%- set phiFullRange4 = true %}
    {%- set phiW2Ignore4 = true %}
    {%- set phiUpperLimit4 = 0 %}
    {%- set phiLowerLimit4 = 0 %}
    {%- set isolationLUT4 = 15 %}
    {%- include "instances/object_cuts_calo_orm.tmpl" %}
  {%- endif %}        
-- correlation cuts
  {%- if condition.hasDeltaEtaOrm %}
        diff_eta_orm_upper_limit_vector => X"{{ condition.deltaEtaOrm.upper|X08 }}", 
        diff_eta_orm_lower_limit_vector => X"{{ condition.deltaEtaOrm.lower|X08 }}",
  {%- endif %}        
  {%- if condition.hasDeltaPhiOrm %}
        diff_phi_orm_upper_limit_vector => X"{{ condition.deltaPhiOrm.upper|X08 }}", 
        diff_phi_orm_lower_limit_vector => X"{{ condition.deltaPhiOrm.lower|X08 }}",
  {%- endif %}        
  {%- if condition.hasDeltaROrm %}
        dr_orm_upper_limit_vector => X"{{ condition.deltaROrm.upper|X16 }}", 
        dr_orm_lower_limit_vector => X"{{ condition.deltaROrm.lower|X16 }}",
  {%- endif %}        
  {%- if condition.hasTwoBodyPt %}
        twobody_pt_cut => true, 
        pt_width => {{ o1.type|upper }}_PT_VECTOR_WIDTH, 
        pt_sq_threshold_vector => X"{{ condition.twoBodyPt.threshold|X16 }}",
        sin_cos_width => CALO_SIN_COS_VECTOR_WIDTH, 
        pt_sq_sin_cos_precision => {{ o1.type|upper }}_{{ o1.type|upper }}_SIN_COS_PRECISION,
  {%- endif %}
        nr_calo1_objects => NR_{{ o1.type|upper }}_OBJECTS,
  {%- if nr_requirements == 1 %}
        nr_calo2_objects => NR_{{ o2.type|upper }}_OBJECTS,
  {%- elif nr_requirements == 2 %}
        nr_calo2_objects => NR_{{ o3.type|upper }}_OBJECTS,
  {%- elif nr_requirements == 3 %}
        nr_calo2_objects => NR_{{ o4.type|upper }}_OBJECTS,
  {%- elif nr_requirements == 4 %}
        nr_calo2_objects => NR_{{ o5.type|upper }}_OBJECTS,
  {%- endif %}        
        nr_templates => {{ nr_requirements }}
    )
    port map(
        lhc_clk, 
        {{ o1.type|lower }}_bx_{{ o1.bx }}, 
  {%- if nr_requirements == 4 %}
        {{ o5.type|lower }}_bx_{{ o5.bx }},
        diff_{{ o1.type|lower }}_{{ o5.type|lower }}_bx_{{ o1.bx }}_bx_{{ o5.bx }}_eta_vector, 
        diff_{{ o1.type|lower }}_{{ o5.type|lower }}_bx_{{ o1.bx }}_bx_{{ o5.bx }}_phi_vector,
  {%- elif nr_requirements == 3 %}
        {{ o4.type|lower }}_bx_{{ o4.bx }},
        diff_{{ o1.type|lower }}_{{ o4.type|lower }}_bx_{{ o1.bx }}_bx_{{ o4.bx }}_eta_vector, 
        diff_{{ o1.type|lower }}_{{ o4.type|lower }}_bx_{{ o1.bx }}_bx_{{ o4.bx }}_phi_vector,
  {%- elif nr_requirements == 2 %}
        {{ o3.type|lower }}_bx_{{ o3.bx }},
        diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_vector, 
        diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_vector,
  {%- elif nr_requirements == 1 %}
        {{ o2.type|lower }}_bx_{{ o2.bx }},
        diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector, 
        diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector,
  {%- endif %}    
  {%- if condition.hasTwoBodyPt %}
        pt => {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }}, 
        cos_phi_integer => {{ o1.type|lower }}_cos_phi_bx_{{ o1.bx }}, 
        sin_phi_integer => {{ o1.type|lower }}_sin_phi_bx_{{ o1.bx }});
  {%- endif %}
        condition_o => {{ condition.vhdl_signal }}
    );
{%- endblock instantiate_calo_conditions_orm %}
{# eof #}
