{%- block instantiate_calo_mass_3_obj_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
  {%- set o3 = condition.objects[2] %}
{{ condition.vhdl_signal }}_i: entity work.calo_mass_3_obj_condition
    generic map(
        NR_{{ o1.type|upper }}_OBJECTS, {{ o1.type|upper }}_TYPE,        
        {{ o1.sliceLow }}, {{ o1.sliceHigh }}, {{ o1.operator }}, {{ o1.type|upper }}_TYPE,
        X"{{ o1.threshold|X04 }}",
        {{ o1.etaNrCuts }}, 
        X"{{ o1.etaW1UpperLimit|X04 }}", X"{{ o1.etaW1LowerLimit|X04 }}",
        X"{{ o1.etaW2UpperLimit|X04 }}", X"{{ o1.etaW2LowerLimit|X04 }}",
        X"{{ o1.etaW3UpperLimit|X04 }}", X"{{ o1.etaW3LowerLimit|X04 }}",
        X"{{ o1.etaW4UpperLimit|X04 }}", X"{{ o1.etaW4LowerLimit|X04 }}",
        X"{{ o1.etaW5UpperLimit|X04 }}", X"{{ o1.etaW5LowerLimit|X04 }}",
        {{ o1.phiFullRange }}, X"{{ o1.phiW1UpperLimit|X04 }}", X"{{ o1.phiW1LowerLimit|X04 }}",
        {{ o1.phiW2Ignore }}, X"{{ o1.phiW2UpperLimit|X04 }}", X"{{ o1.phiW2LowerLimit|X04 }}",
        X"{{ o1.isolationLUT|X01 }}",
        {{ o2.sliceLow }}, {{ o2.sliceHigh }}, {{ o2.operator }}, {{ o2.type|upper }}_TYPE,
        X"{{ o2.threshold|X04 }}",
        {{ o2.etaNrCuts }}, 
        X"{{ o2.etaW1UpperLimit|X04 }}", X"{{ o2.etaW1LowerLimit|X04 }}",
        X"{{ o2.etaW2UpperLimit|X04 }}", X"{{ o2.etaW2LowerLimit|X04 }}",
        X"{{ o2.etaW3UpperLimit|X04 }}", X"{{ o2.etaW3LowerLimit|X04 }}",
        X"{{ o2.etaW4UpperLimit|X04 }}", X"{{ o2.etaW4LowerLimit|X04 }}",
        X"{{ o2.etaW5UpperLimit|X04 }}", X"{{ o2.etaW5LowerLimit|X04 }}",
        {{ o2.phiFullRange }}, X"{{ o2.phiW1UpperLimit|X04 }}", X"{{ o2.phiW1LowerLimit|X04 }}",
        {{ o2.phiW2Ignore }}, X"{{ o2.phiW2UpperLimit|X04 }}", X"{{ o2.phiW2LowerLimit|X04 }}",
        X"{{ o2.isolationLUT|X01 }}",
        {{ o3.sliceLow }}, {{ o3.sliceHigh }}, {{ o3.operator }}, {{ o3.type|upper }}_TYPE,
        X"{{ o3.threshold|X04 }}",
        {{ o3.etaNrCuts }}, 
        X"{{ o3.etaW1UpperLimit|X04 }}", X"{{ o3.etaW1LowerLimit|X04 }}",
        X"{{ o3.etaW2UpperLimit|X04 }}", X"{{ o3.etaW2LowerLimit|X04 }}",
        X"{{ o3.etaW3UpperLimit|X04 }}", X"{{ o3.etaW3LowerLimit|X04 }}",
        X"{{ o3.etaW4UpperLimit|X04 }}", X"{{ o3.etaW4LowerLimit|X04 }}",
        X"{{ o3.etaW5UpperLimit|X04 }}", X"{{ o3.etaW5LowerLimit|X04 }}",
        {{ o3.phiFullRange }}, X"{{ o3.phiW1UpperLimit|X04 }}", X"{{ o3.phiW1LowerLimit|X04 }}",
        {{ o3.phiW2Ignore }}, X"{{ o3.phiW2UpperLimit|X04 }}", X"{{ o3.phiW2LowerLimit|X04 }}",
        X"{{ o3.isolationLUT|X01 }}",
        X"{{ condition.mass.upper|X16 }}", X"{{ condition.mass.lower|X16 }}",
        {{ o1.type|upper }}_PT_VECTOR_WIDTH, {{ o1.type|upper }}_{{ o1.type|upper }}_COSH_COS_PRECISION, {{ o1.type|upper }}_{{ o1.type|upper }}_COSH_COS_VECTOR_WIDTH
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}, {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }},
        {{ o1.type|lower }}_{{ o1.type|lower }}_bx_{{ o1.bx }}_bx_{{ o1.bx }}_cosh_deta_vector, {{ o1.type|lower }}_{{ o1.type|lower }}_bx_{{ o1.bx }}_bx_{{ o1.bx }}_cos_dphi_vector,
        {{ condition.vhdl_signal }});
{%- endblock instantiate_calo_mass_3_obj_condition %}
{# eof #}
