{%- block instantiate_calo_calo_calo_correlation_orm_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
  {%- if condition.nr_objects == 3 %}
  {%- set o3 = condition.objects[2] %}
{{ condition.vhdl_signal }}_i: entity work.calo_calo_calo_correlation_orm_condition
    generic map(
    {%- if condition.deltaEtaOrm.enabled == 'true' %}
        deta_orm_cut => {{ condition.deltaEtaOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaPhiOrm.enabled == 'true' %}
        dphi_orm_cut => {{ condition.deltaPhiOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaROrm.enabled == 'true' %}
        dr_orm_cut => {{ condition.deltaROrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaEta.enabled == 'true' %}
        deta_cut => {{ condition.deltaEta.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaPhi.enabled == 'true' %}
        dphi_cut => {{ condition.deltaPhi.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaR.enabled == 'true' %}
        dr_cut => {{ condition.deltaR.enabled }}, 
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        mass_cut => {{ condition.mass.enabled }}, 
        mass_type => INVARIANT_MASS_TYPE, 
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        twobody_pt_cut => {{ condition.twoBodyPt.enabled }}, 
    {%- endif %}        
        nr_calo1_objects => NR_{{ o1.type|upper }}_OBJECTS,
    {%- if o1.sliceLow != 0 or o1.sliceHigh != 11 %}
        calo1_object_low => {{ o1.sliceLow }}, 
        calo1_object_high => {{ o1.sliceHigh }}, 
    {%- endif %}        
    {%- if o1.operator == False %}
        pt_ge_mode_calo1 => {{ o1.operator }}, 
    {%- endif %}        
        obj_type_calo1 => {{ o1.type|upper }}_TYPE,
        pt_threshold_calo1 => X"{{ o1.threshold|X04 }}",
    {%- if o1.etaNrCuts > 0 %}
        nr_eta_windows_calo1 => {{ o1.etaNrCuts }},
        eta_w1_upper_limit_calo1 => X"{{ o1.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo1 => X"{{ o1.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo1 => X"{{ o1.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo1 => X"{{ o1.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo1 => X"{{ o1.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo1 => X"{{ o1.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo1 => X"{{ o1.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo1 => X"{{ o1.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo1 => X"{{ o1.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo1 => X"{{ o1.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiFullRange  == 'false' %}
        phi_full_range_calo1 => {{ o1.phiFullRange }}, 
        phi_w1_upper_limit_calo1 => X"{{ o1.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo1 => X"{{ o1.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiW2Ignore  == 'false' and o1.phiFullRange  == 'false' %}
        phi_w2_ignore_calo1 => {{ o1.phiW2Ignore }}, 
        phi_w2_upper_limit_calo1 => X"{{ o1.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo1 => X"{{ o1.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.isolationLUT|X01 != "F" %}
        iso_lut_calo1 => X"{{ o1.isolationLUT|X01 }}",
    {%- endif %}        
        nr_calo2_objects => NR_{{ o2.type|upper }}_OBJECTS,
    {%- if o2.sliceLow != 0 or o2.sliceHigh != 11 %}
        calo2_object_low => {{ o2.sliceLow }}, 
        calo2_object_high => {{ o2.sliceHigh }}, 
    {%- endif %}        
    {%- if o2.operator == False %}
        pt_ge_mode_calo2 => {{ o2.operator }}, 
    {%- endif %}        
        obj_type_calo2 => {{ o2.type|upper }}_TYPE,
        pt_threshold_calo2 => X"{{ o2.threshold|X04 }}",
    {%- if o2.etaNrCuts > 0 %}
        nr_eta_windows_calo2 => {{ o2.etaNrCuts }},
        eta_w1_upper_limit_calo2 => X"{{ o2.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo2 => X"{{ o2.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo2 => X"{{ o2.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo2 => X"{{ o2.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo2 => X"{{ o2.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo2 => X"{{ o2.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo2 => X"{{ o2.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo2 => X"{{ o2.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo2 => X"{{ o2.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo2 => X"{{ o2.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiFullRange  == 'false' %}
        phi_full_range_calo2 => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_calo2 => X"{{ o2.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo2 => X"{{ o2.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiW2Ignore  == 'false' and o2.phiFullRange  == 'false' %}
        phi_w2_ignore_calo2 => {{ o2.phiW2Ignore }}, 
        phi_w2_upper_limit_calo2 => X"{{ o2.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo2 => X"{{ o2.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.isolationLUT|X01 != "F" %}
        iso_lut_calo2 => X"{{ o2.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if o3.sliceLow != 0 or o3.sliceHigh != 11 %}
        calo3_object_low => {{ o3.sliceLow }}, 
        calo3_object_high => {{ o3.sliceHigh }}, 
    {%- endif %}        
    {%- if o3.operator == False %}
        pt_ge_mode_calo3 => {{ o3.operator }}, 
    {%- endif %}        
        obj_type_calo3 => {{ o3.type|upper }}_TYPE,
        pt_threshold_calo3 => X"{{ o3.threshold|X04 }}",
    {%- if o3.etaNrCuts > 0 %}
        nr_eta_windows_calo3 => {{ o3.etaNrCuts }},
        eta_w1_upper_limit_calo3 => X"{{ o3.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo3 => X"{{ o3.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo3 => X"{{ o3.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo3 => X"{{ o3.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo3 => X"{{ o3.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo3 => X"{{ o3.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo3 => X"{{ o3.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo3 => X"{{ o3.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo3 => X"{{ o3.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo3 => X"{{ o3.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.phiFullRange  == 'false' %}
        phi_full_range_calo3 => {{ o3.phiFullRange }}, 
        phi_w1_upper_limit_calo3 => X"{{ o3.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo3 => X"{{ o3.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.phiW2Ignore  == 'false' and o3.phiFullRange  == 'false' %}
        phi_w2_ignore_calo3 => {{ o3.phiW2Ignore }}, 
        phi_w2_upper_limit_calo3 => X"{{ o3.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo3 => X"{{ o3.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.isolationLUT|X01 != "F" %}
        iso_lut_calo3 => X"{{ o3.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if condition.deltaEtaOrm.enabled == 'true' %}
        diff_eta_orm_upper_limit_vector => X"{{ condition.deltaEtaOrm.upper|X08 }}", 
        diff_eta_orm_lower_limit_vector => X"{{ condition.deltaEtaOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaPhiOrm.enabled == 'true' %}
        diff_phi_orm_upper_limit_vector => X"{{ condition.deltaPhiOrm.upper|X08 }}", 
        diff_phi_orm_lower_limit_vector => X"{{ condition.deltaPhiOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaROrm.enabled == 'true' %}
        dr_orm_upper_limit_vector => X"{{ condition.deltaROrm.upper|X16 }}", 
        dr_orm_lower_limit_vector => X"{{ condition.deltaROrm.lower|X16 }}",
    {%- endif %}        
    {%- if condition.deltaEta.enabled == 'true' %}
        diff_eta_upper_limit_vector => X"{{ condition.deltaEta.upper|X08 }}", 
        diff_eta_lower_limit_vector => X"{{ condition.deltaEta.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaPhi.enabled == 'true' %}
        diff_phi_upper_limit_vector => X"{{ condition.deltaPhi.upper|X08 }}", 
        diff_phi_lower_limit_vector => X"{{ condition.deltaPhi.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaR.enabled == 'true' %}
        dr_upper_limit_vector => X"{{ condition.deltaR.upper|X16 }}", 
        dr_lower_limit_vector => X"{{ condition.deltaR.lower|X16 }}",
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' or condition.twoBodyPt.enabled == 'true'  %}
        pt1_width => {{ o1.type|upper }}_PT_VECTOR_WIDTH, 
        pt2_width => {{ o2.type|upper }}_PT_VECTOR_WIDTH, 
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        mass_upper_limit_vector => X"{{ condition.mass.upper|X16 }}",
        mass_lower_limit_vector => X"{{ condition.mass.lower|X16 }}",
        mass_cosh_cos_precision => {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_PRECISION, 
        cosh_cos_width => {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_VECTOR_WIDTH,
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        pt_sq_threshold_vector => X"{{ condition.twoBodyPt.threshold|X16 }}", 
        sin_cos_width => CALO_SIN_COS_VECTOR_WIDTH, 
        pt_sq_sin_cos_precision => {{ o1.type|upper }}_{{ o2.type|upper }}_SIN_COS_PRECISION,
    {%- endif %}        
        obj_2plus1 => true
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}, {{ o2.type|lower }}_bx_{{ o2.bx }}, {{ o3.type|lower }}_bx_{{ o3.bx }},
        diff_eta_orm => diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_eta_vector,        
        diff_phi_orm => diff_{{ o1.type|lower }}_{{ o3.type|lower }}_bx_{{ o1.bx }}_bx_{{ o3.bx }}_phi_vector,
        diff_eta => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector,        
        diff_phi => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector,
    {%- if condition.mass.enabled == 'true' or condition.twoBodyPt.enabled == 'true' %}
        pt1 => {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }}, 
        pt2 => {{ o2.type|lower }}_pt_vector_bx_{{ o2.bx }},
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        cosh_deta => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector, 
        cos_dphi => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector,
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        cos_phi_1_integer => {{ o1.type|lower }}_cos_phi_bx_{{ o1.bx }}, 
        cos_phi_2_integer => {{ o2.type|lower }}_cos_phi_bx_{{ o2.bx }}, 
        sin_phi_1_integer => {{ o1.type|lower }}_sin_phi_bx_{{ o1.bx }}, 
        sin_phi_2_integer => {{ o2.type|lower }}_sin_phi_bx_{{ o2.bx }},
    {%- endif %}        
        condition_o => {{ condition.vhdl_signal }}
    );
    
  {%- elif  condition.nr_objects == 2 %}
{{ condition.vhdl_signal }}_i: entity work.calo_calo_calo_correlation_orm_condition
    generic map(
    {%- if condition.deltaEtaOrm.enabled == 'true' %}
        deta_orm_cut => {{ condition.deltaEtaOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaPhiOrm.enabled == 'true' %}
        dphi_orm_cut => {{ condition.deltaPhiOrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaROrm.enabled == 'true' %}
        dr_orm_cut => {{ condition.deltaROrm.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaEta.enabled == 'true' %}
        deta_cut => {{ condition.deltaEta.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaPhi.enabled == 'true' %}
        dphi_cut => {{ condition.deltaPhi.enabled }}, 
    {%- endif %}        
    {%- if condition.deltaR.enabled == 'true' %}
        dr_cut => {{ condition.deltaR.enabled }}, 
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        mass_cut => {{ condition.mass.enabled }}, 
        mass_type => INVARIANT_MASS_TYPE, 
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        twobody_pt_cut => {{ condition.twoBodyPt.enabled }}, 
    {%- endif %}        
    {%- if o1.sliceLow != 0 or o1.sliceHigh != 11 %}
        calo1_object_low => {{ o1.sliceLow }}, 
        calo1_object_high => {{ o1.sliceHigh }}, 
    {%- endif %}        
    {%- if o1.operator == False %}
        pt_ge_mode_calo1 => {{ o1.operator }}, 
    {%- endif %}        
        obj_type_calo1 => {{ o1.type|upper }}_TYPE,
        pt_threshold_calo1 => X"{{ o1.threshold|X04 }}",
    {%- if o1.etaNrCuts > 0 %}
        nr_eta_windows_calo1 => {{ o1.etaNrCuts }},
        eta_w1_upper_limit_calo1 => X"{{ o1.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo1 => X"{{ o1.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo1 => X"{{ o1.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo1 => X"{{ o1.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo1 => X"{{ o1.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo1 => X"{{ o1.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo1 => X"{{ o1.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo1 => X"{{ o1.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo1 => X"{{ o1.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo1 => X"{{ o1.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiFullRange  == 'false' %}
        phi_full_range_calo1 => {{ o1.phiFullRange }}, 
        phi_w1_upper_limit_calo1 => X"{{ o1.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo1 => X"{{ o1.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiW2Ignore  == 'false' and o1.phiFullRange  == 'false' %}
        phi_w2_ignore_calo1 => {{ o1.phiW2Ignore }}, 
        phi_w2_upper_limit_calo1 => X"{{ o1.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo1 => X"{{ o1.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.isolationLUT|X01 != "F" %}
        iso_lut_calo1 => X"{{ o1.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if o2.sliceLow != 0 or o2.sliceHigh != 11 %}
        calo2_object_low => {{ o2.sliceLow }}, 
        calo2_object_high => {{ o2.sliceHigh }}, 
    {%- endif %}        
    {%- if o2.operator == False %}
        pt_ge_mode_calo2 => {{ o2.operator }}, 
    {%- endif %}        
        obj_type_calo2 => {{ o2.type|upper }}_TYPE,
        pt_threshold_calo2 => X"{{ o2.threshold|X04 }}",
    {%- if o2.etaNrCuts > 0 %}
        nr_eta_windows_calo2 => {{ o2.etaNrCuts }},
        eta_w1_upper_limit_calo2 => X"{{ o2.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo2 => X"{{ o2.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo2 => X"{{ o2.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo2 => X"{{ o2.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo2 => X"{{ o2.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo2 => X"{{ o2.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo2 => X"{{ o2.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo2 => X"{{ o2.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo2 => X"{{ o2.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo2 => X"{{ o2.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiFullRange  == 'false' %}
        phi_full_range_calo2 => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_calo2 => X"{{ o2.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo2 => X"{{ o2.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiW2Ignore  == 'false' and o2.phiFullRange  == 'false' %}
        phi_w2_ignore_calo2 => {{ o2.phiW2Ignore }}, 
        phi_w2_upper_limit_calo2 => X"{{ o2.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo2 => X"{{ o2.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.isolationLUT|X01 != "F" %}
        iso_lut_calo2 => X"{{ o2.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if condition.deltaEtaOrm.enabled == 'true' %}
        diff_eta_orm_upper_limit_vector => X"{{ condition.deltaEtaOrm.upper|X08 }}", 
        diff_eta_orm_lower_limit_vector => X"{{ condition.deltaEtaOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaPhiOrm.enabled == 'true' %}
        diff_phi_orm_upper_limit_vector => X"{{ condition.deltaPhiOrm.upper|X08 }}", 
        diff_phi_orm_lower_limit_vector => X"{{ condition.deltaPhiOrm.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaROrm.enabled == 'true' %}
        dr_orm_upper_limit_vector => X"{{ condition.deltaROrm.upper|X16 }}", 
        dr_orm_lower_limit_vector => X"{{ condition.deltaROrm.lower|X16 }}",
    {%- endif %}        
    {%- if condition.deltaEta.enabled == 'true' %}
        diff_eta_upper_limit_vector => X"{{ condition.deltaEta.upper|X08 }}", 
        diff_eta_lower_limit_vector => X"{{ condition.deltaEta.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaPhi.enabled == 'true' %}
        diff_phi_upper_limit_vector => X"{{ condition.deltaPhi.upper|X08 }}", 
        diff_phi_lower_limit_vector => X"{{ condition.deltaPhi.lower|X08 }}",
    {%- endif %}        
    {%- if condition.deltaR.enabled == 'true' %}
        dr_upper_limit_vector => X"{{ condition.deltaR.upper|X16 }}", 
        dr_lower_limit_vector => X"{{ condition.deltaR.lower|X16 }}",
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' or condition.twoBodyPt.enabled == 'true'  %}
        pt1_width => {{ o1.type|upper }}_PT_VECTOR_WIDTH, 
        pt2_width => {{ o2.type|upper }}_PT_VECTOR_WIDTH, 
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        mass_upper_limit_vector => X"{{ condition.mass.upper|X16 }}",
        mass_lower_limit_vector => X"{{ condition.mass.lower|X16 }}",
        mass_cosh_cos_precision => {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_PRECISION, 
        cosh_cos_width => {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_VECTOR_WIDTH,
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        pt_sq_threshold_vector => X"{{ condition.twoBodyPt.threshold|X16 }}", 
        sin_cos_width => CALO_SIN_COS_VECTOR_WIDTH, 
        pt_sq_sin_cos_precision => {{ o1.type|upper }}_{{ o2.type|upper }}_SIN_COS_PRECISION,
    {%- endif %}        
        obj_2plus1 => false
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}, {{ o2.type|lower }}_bx_{{ o2.bx }},
        diff_eta_orm => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector,        
        diff_phi_orm => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector,
        diff_eta => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector,        
        diff_phi => diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector,
    {%- if condition.mass.enabled == 'true' or condition.twoBodyPt.enabled == 'true' %}
        pt1 => {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }}, 
        pt2 => {{ o2.type|lower }}_pt_vector_bx_{{ o2.bx }},
    {%- endif %}        
    {%- if condition.mass.enabled == 'true' %}
        cosh_deta => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector, 
        cos_dphi => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector,
    {%- endif %}        
    {%- if condition.twoBodyPt.enabled == 'true' %}
        cos_phi_1_integer => {{ o1.type|lower }}_cos_phi_bx_{{ o1.bx }}, 
        cos_phi_2_integer => {{ o2.type|lower }}_cos_phi_bx_{{ o2.bx }}, 
        sin_phi_1_integer => {{ o1.type|lower }}_sin_phi_bx_{{ o1.bx }}, 
        sin_phi_2_integer => {{ o2.type|lower }}_sin_phi_bx_{{ o2.bx }},
    {%- endif %}        
        condition_o => {{ condition.vhdl_signal }}
    );
  {%- else %}
    VHDL Producer error: wrong number of objects (nr_objects={{ condition.nr_objects }}) for {{ condition.vhdl_signal }} !!!
  {%- endif %}
{%- endblock instantiate_calo_calo_calo_correlation_orm_condition %}
{# eof #}
