{%- block instantiate_calo_muon_correlation_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
{{ condition.vhdl_signal }}_i: entity work.calo_muon_correlation_condition
    generic map(
-- parameter for object 1
        nr_obj_calo1 => NR_{{ o1.type|upper }}_OBJECTS,
        obj_type_calo1 => {{ o1.type|upper }}_TYPE,
        calo1_object_low => {{ o1.sliceLow }}, calo1_object_high => {{ o1.sliceHigh }}, 
    {%- if o1.operator == 'false'  %}
        et_ge_mode_calo1 => {{ o1.operator }}, 
    {%- endif %}
        et_threshold_calo1 => X"{{ o1.threshold|X04 }}",
    {%- if o1.etaNrCuts == 0  %}
        -- no eta cuts for object 1
    {%- endif %}
    {%- if o1.etaNrCuts >= 1  %}
        nr_eta_windows_calo1 => {{ o1.etaNrCuts }},
        eta_w1_upper_limit_calo1 => X"{{ o1.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo1 => X"{{ o1.etaW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 2  %}
        eta_w2_upper_limit_calo1 => X"{{ o1.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo1 => X"{{ o1.etaW2LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 3  %}
        eta_w3_upper_limit_calo1 => X"{{ o1.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo1 => X"{{ o1.etaW3LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 4  %}
        eta_w4_upper_limit_calo1 => X"{{ o1.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo1 => X"{{ o1.etaW4LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 5  %}
        eta_w5_upper_limit_calo1 => X"{{ o1.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo1 => X"{{ o1.etaW5LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.phiFullRange == 'true'  %}
        -- no phi cuts for object 1        
    {%- else %}
        phi_full_range_calo1 => {{ o1.phiFullRange }}, 
        phi_w1_upper_limit_calo1 => X"{{ o1.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo1 => X"{{ o1.phiW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.phiW2Ignore == 'false'  %}
        phi_w2_ignore_calo1 => {{ o1.phiW2Ignore }}, 
        phi_w2_upper_limit_calo1 => X"{{ o1.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo1 => X"{{ o1.phiW2LowerLimit|X04 }}",
    {%- endif %}    
    {%- if o1.isolationLUT != 15  %}
        iso_lut_calo1 => X"{{ o1.isolationLUT|X01 }}",
    {%- else %}
        -- no isolation cut for object 1
    {%- endif %}    
-- parameter for object 2
        muon2_object_low => {{ o2.sliceLow }}, muon2_object_high => {{ o2.sliceHigh }}, 
    {%- if o2.operator == 'false'  %}
        pt_ge_mode_muon2 => {{ o2.operator }},
    {%- endif %}
        pt_threshold_muon2 => X"{{ o2.threshold|X04 }}",
    {%- if o2.etaNrCuts == 0  %}
        -- no eta cuts for object 2
    {%- endif %}
    {%- if o2.etaNrCuts >= 1  %}
        nr_eta_windows_muon2 => {{ o2.etaNrCuts }},
        eta_w1_upper_limit_muon2 => X"{{ o2.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_muon2 => X"{{ o2.etaW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 2  %}
        eta_w2_upper_limit_muon2 => X"{{ o2.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_muon2 => X"{{ o2.etaW2LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 3  %}
        eta_w3_upper_limit_muon2 => X"{{ o2.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_muon2 => X"{{ o2.etaW3LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 4  %}
        eta_w4_upper_limit_muon2 => X"{{ o2.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_muon2 => X"{{ o2.etaW4LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 5  %}
        eta_w5_upper_limit_muon2 => X"{{ o2.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_muon2 => X"{{ o2.etaW5LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.phiFullRange == 'true'  %}
        -- no phi cuts for object 2        
    {%- else %}
        phi_full_range_muon2 => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_muon2 => X"{{ o2.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_muon2 => X"{{ o2.phiW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.phiW2Ignore == 'false'  %}
        phi_w2_ignore_muon2 => {{ o2.phiW2Ignore }}, 
        phi_w2_upper_limit_muon2 => X"{{ o2.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_muon2 => X"{{ o2.phiW2LowerLimit|X04 }}",
    {%- endif %}    
    {%- if o2.charge != "ign"  %}
        requested_charge_muon2 => {{ o2.charge }},
    {%- else %}
        -- no charge cut for object 2
    {%- endif %}    
    {%- if  o2.qualityLUT != 65535 %}
        qual_lut_muon2 => X"{{ o2.qualityLUT|X04 }}",
    {%- else %}
        -- no quality cut for object 2
    {%- endif %}    
    {%- if o2.isolationLUT != 15  %}
        iso_lut_muon2 => X"{{ o2.isolationLUT|X01 }}",
    {%- else %}
        -- no isolation cut for object 2
    {%- endif %}    
    {%- if o2.uptCutSel == 'true' %}
        iso_lut_muon2 => o2.uptCutSel,
        upt_upper_limit_muon2 => X"{{ o2.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon2 => X"{{ o2.uptLowerLimit|X04 }}", 
        ip_lut_muon2 => X"{{ o2.impactParameterLUT|X01 }}",
    {%- else %}
        -- no unconstraint pt cut for object 2
    {%- endif %}    
-- correlation cuts
    {%- if condition.deltaEta.enabled == 'true'  %}
        deta_cut => {{ condition.deltaEta.enabled }},
        deta_upper_limit => X"{{ condition.deltaEta.upper|X08 }}", 
        deta_lower_limit => X"{{ condition.deltaEta.lower|X08 }}",
    {%- endif %}
    {%- if condition.deltaPhi.enabled == 'true'  %}
        dphi_cut => {{ condition.deltaPhi.enabled }},
        dphi_upper_limit => X"{{ condition.deltaPhi.upper|X08 }}", 
        dphi_lower_limit => X"{{ condition.deltaPhi.lower|X08 }}",
    {%- endif %}
    {%- if condition.deltaR.enabled == 'true'  %}
        dr_cut => {{ condition.deltaR.enabled }},
        dr_upper_limit => X"{{ condition.deltaR.upper|X16 }}", 
        dr_lower_limit => X"{{ condition.deltaR.lower|X16 }}",
    {%- endif %}
    {%- if condition.mass.enabled == 'true' and condition.mass.type == condition.mass.InvariantMassDeltaRType %}
        mass_cut => {{ condition.mass.enabled }}, mass_type => INVARIANT_MASS_DIV_DR_TYPE,       
        mass_div_dr_width => {{ o1.type|upper }}_{{ o2.type|upper }}_MASS_DIV_DR_VECTOR_WIDTH,
        mass_div_dr_threshold => X"{{ condition.mass.lower|X21 }}",
    {%- elif condition.mass.enabled == 'true' and condition.mass.type == condition.mass.InvariantMassType %}
        mass_cut => {{ condition.mass.enabled }}, mass_type => INVARIANT_MASS_TYPE,       
        mass_width => {{ o1.type|upper }}_{{ o2.type|upper }}_MASS_VECTOR_WIDTH,
        mass_upper_limit => X"{{ condition.mass.upper|X16 }}",
        mass_lower_limit => X"{{ condition.mass.lower|X16 }}",
    {%- else %}
    {%- endif %}
    {%- if condition.twoBodyPt.enabled == 'true'  %}
        twobody_pt_cut => {{ condition.twoBodyPt.enabled }},
        tbpt_width => {{ o1.type|upper }}_{{ o2.type|upper }}_TBPT_VECTOR_WIDTH,
        tbpt_threshold => X"{{ condition.twoBodyPt.threshold|X16 }}"
    {%- else %}
        twobody_pt_cut => {{ condition.twoBodyPt.enabled }}
    {%- endif %}    
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}, {{ o2.type|lower }}_bx_{{ o2.bx }},
    {%- if condition.deltaEta.enabled == 'true' %}
        deta => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_deta_vector,
    {%- endif %}
    {%- if condition.deltaPhi.enabled == 'true' %}
        dphi => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_dphi_vector,
    {%- endif %}
    {%- if condition.deltaR.enabled == 'true' %}
        dr => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_delta_r_vector,
    {%- endif %}
    {%- if condition.mass.enabled == 'true' and (condition.mass.type == condition.mass.InvariantMassType) %}
        mass_inv => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_mass_inv_vector,
    {%- endif %}
    {%- if condition.mass.enabled == 'true' and condition.mass.type == condition.mass.InvariantMassDeltaRType %}
        mass_div_dr => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_mass_div_dr_vector,
    {%- endif %}
    {%- if condition.twoBodyPt.enabled == 'true' %}
        tbpt => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_tbpt_vector,
    {%- endif %}
        condition_o => {{ condition.vhdl_signal }});
{%- endblock instantiate_calo_muon_correlation_condition %}
{# eof #}
