{%- block instantiate_calo_mass_3_obj_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
  {%- set o3 = condition.objects[2] %}
{{ condition.vhdl_signal }}_i: entity work.calo_mass_3_obj_condition
    generic map(
        nr_obj => NR_{{ o1.type|upper }}_OBJECTS,
        obj_type => {{ o1.type|upper }}_TYPE,
    {%- if o1.sliceLow != 0 or o1.sliceHigh != 11 %}
        calo1_object_low => {{ o1.sliceLow }}, 
        calo1_object_high => {{ o1.sliceHigh }}, 
    {%- endif %}        
    {%- if o1.operator == 'false' %}
        pt_ge_mode_calo1 => {{ o1.operator }}, 
    {%- endif %}        
        obj_type_calo1 => {{ o1.type|upper }}_TYPE,
        pt_threshold_calo1 => X"{{ o1.threshold|X04 }}",
    {%- if o1.etaNrCuts > 0 %}
        nr_eta_windows_calo1 => {{ o1.etaNrCuts }},
        eta_w1_upper_limit_calo1 => X"{{ o1.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo1 => X"{{ o1.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo1 => X"{{ o1.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo1 => X"{{ o1.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo1 => X"{{ o1.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo1 => X"{{ o1.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo1 => X"{{ o1.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo1 => X"{{ o1.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo1 => X"{{ o1.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo1 => X"{{ o1.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiFullRange  == 'false' %}
        phi_full_range_calo1 => {{ o1.phiFullRange }}, 
        phi_w1_upper_limit_calo1 => X"{{ o1.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo1 => X"{{ o1.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.phiW2Ignore  == 'false' and o1.phiFullRange  == 'false' %}
        phi_w2_ignore_calo1 => {{ o1.phiW2Ignore }}, 
        phi_w2_upper_limit_calo1 => X"{{ o1.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo1 => X"{{ o1.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o1.isolationLUT|X01 != "F" %}
        iso_lut_calo1 => X"{{ o1.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if o2.sliceLow != 0 or o2.sliceHigh != 11 %}
        calo2_object_low => {{ o2.sliceLow }}, 
        calo2_object_high => {{ o2.sliceHigh }}, 
    {%- endif %}        
    {%- if o2.operator == 'false' %}
        pt_ge_mode_calo2 => {{ o2.operator }}, 
    {%- endif %}        
        obj_type_calo2 => {{ o2.type|upper }}_TYPE,
        pt_threshold_calo2 => X"{{ o2.threshold|X04 }}",
    {%- if o2.etaNrCuts > 0 %}
        nr_eta_windows_calo2 => {{ o2.etaNrCuts }},
        eta_w1_upper_limit_calo2 => X"{{ o2.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo2 => X"{{ o2.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo2 => X"{{ o2.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo2 => X"{{ o2.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo2 => X"{{ o2.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo2 => X"{{ o2.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo2 => X"{{ o2.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo2 => X"{{ o2.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo2 => X"{{ o2.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo2 => X"{{ o2.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiFullRange  == 'false' %}
        phi_full_range_calo2 => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_calo2 => X"{{ o2.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo2 => X"{{ o2.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.phiW2Ignore  == 'false' and o2.phiFullRange  == 'false' %}
        phi_w2_ignore_calo2 => {{ o2.phiW2Ignore }}, 
        phi_w2_upper_limit_calo2 => X"{{ o2.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo2 => X"{{ o2.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o2.isolationLUT|X01 != "F" %}
        iso_lut_calo2 => X"{{ o2.isolationLUT|X01 }}",
    {%- endif %}        
    {%- if o3.sliceLow != 0 or o3.sliceHigh != 11 %}
        calo3_object_low => {{ o3.sliceLow }}, 
        calo3_object_high => {{ o3.sliceHigh }}, 
    {%- endif %}        
    {%- if o3.operator == 'false' %}
        pt_ge_mode_calo3 => {{ o3.operator }}, 
    {%- endif %}        
        obj_type_calo3 => {{ o3.type|upper }}_TYPE,
        pt_threshold_calo3 => X"{{ o3.threshold|X04 }}",
    {%- if o3.etaNrCuts > 0 %}
        nr_eta_windows_calo3 => {{ o3.etaNrCuts }},
        eta_w1_upper_limit_calo3 => X"{{ o3.etaW1UpperLimit|X04 }}", 
        eta_w1_lower_limit_calo3 => X"{{ o3.etaW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 1 %}
        eta_w2_upper_limit_calo3 => X"{{ o3.etaW2UpperLimit|X04 }}", 
        eta_w2_lower_limit_calo3 => X"{{ o3.etaW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 2 %}
        eta_w3_upper_limit_calo3 => X"{{ o3.etaW3UpperLimit|X04 }}", 
        eta_w3_lower_limit_calo3 => X"{{ o3.etaW3LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 3 %}
        eta_w4_upper_limit_calo3 => X"{{ o3.etaW4UpperLimit|X04 }}", 
        eta_w4_lower_limit_calo3 => X"{{ o3.etaW4LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.etaNrCuts > 4 %}
        eta_w5_upper_limit_calo3 => X"{{ o3.etaW5UpperLimit|X04 }}", 
        eta_w5_lower_limit_calo3 => X"{{ o3.etaW5LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.phiFullRange  == 'false' %}
        phi_full_range_calo3 => {{ o3.phiFullRange }}, 
        phi_w1_upper_limit_calo3 => X"{{ o3.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_calo3 => X"{{ o3.phiW1LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.phiW2Ignore  == 'false' and o3.phiFullRange  == 'false' %}
        phi_w2_ignore_calo3 => {{ o3.phiW2Ignore }}, 
        phi_w2_upper_limit_calo3 => X"{{ o3.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_calo3 => X"{{ o3.phiW2LowerLimit|X04 }}",
    {%- endif %}        
    {%- if o3.isolationLUT|X01 != "F" %}
        iso_lut_calo3 => X"{{ o3.isolationLUT|X01 }}",
    {%- endif %}        
        mass_upper_limit_vector => X"{{ condition.mass.upper|X16 }}", 
        mass_lower_limit_vector => X"{{ condition.mass.lower|X16 }}",
        pt_width => {{ o1.type|upper }}_PT_VECTOR_WIDTH, 
        cosh_cos_precision => {{ o1.type|upper }}_{{ o1.type|upper }}_COSH_COS_PRECISION, 
        cosh_cos_width => {{ o1.type|upper }}_{{ o1.type|upper }}_COSH_COS_VECTOR_WIDTH
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}, 
        {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }},
        {{ o1.type|lower }}_{{ o1.type|lower }}_bx_{{ o1.bx }}_bx_{{ o1.bx }}_cosh_deta_vector, 
        {{ o1.type|lower }}_{{ o1.type|lower }}_bx_{{ o1.bx }}_bx_{{ o1.bx }}_cos_dphi_vector,
        {{ condition.vhdl_signal }});
{%- endblock instantiate_calo_mass_3_obj_condition %}
{# eof #}
