{%- block instantiate_muon_muon_mass_3_obj_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
  {%- set o3 = condition.objects[2] %}
{{ condition.vhdl_signal }}_i: entity work.muon_muon_mass_3_obj_condition
    generic map(
-- parameter for object 1
        muon1_object_low => {{ o1.sliceLow }}, muon1_object_high => {{ o1.sliceHigh }}, 
    {%- if o1.operator == 'false'  %}
        pt_ge_mode_muon1 => {{ o1.operator }},
    {%- endif %}
        pt_threshold_muon1 => X"{{ o1.threshold|X04 }}",
    {%- if o1.etaNrCuts == 0  %}
        -- no eta cuts for object 1
    {%- endif %}
    {%- if o1.etaNrCuts >= 1  %}
        nr_eta_windows_muon1 => {{ o1.etaNrCuts }},
        eta_w1_upper_limit_muon1 => X"{{ o1.etaW1UpperLimit|X04 }}", eta_w1_lower_limit_muon1 => X"{{ o1.etaW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 2  %}
        eta_w2_upper_limit_muon1 => X"{{ o1.etaW2UpperLimit|X04 }}", eta_w2_lower_limit_muon1 => X"{{ o1.etaW2LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 3  %}
        eta_w3_upper_limit_muon1 => X"{{ o1.etaW3UpperLimit|X04 }}", eta_w3_lower_limit_muon1 => X"{{ o1.etaW3LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 4  %}
        eta_w4_upper_limit_muon1 => X"{{ o1.etaW4UpperLimit|X04 }}", eta_w4_lower_limit_muon1 => X"{{ o1.etaW4LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.etaNrCuts >= 5  %}
        eta_w5_upper_limit_muon1 => X"{{ o1.etaW5UpperLimit|X04 }}", eta_w5_lower_limit_muon1 => X"{{ o1.etaW5LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.phiFullRange == 'true'  %}
        -- no phi cuts for object 1        
    {%- else %}
        phi_full_range_muon1 => {{ o1.phiFullRange }}, 
        phi_w1_upper_limit_muon1 => X"{{ o1.phiW1UpperLimit|X04 }}", phi_w1_lower_limit_muon1 => X"{{ o1.phiW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o1.phiW2Ignore == 'false'  %}
        phi_w2_ignore_muon1 => {{ o1.phi_w2_ignore_muon1 }}, 
        phi_w2_upper_limit_muon1 => X"{{ o1.phiW2UpperLimit|X04 }}", phi_w2_lower_limit_muon1 => X"{{ o1.phiW2LowerLimit|X04 }}",
    {%- endif %}    
    {%- if o1.charge != "ign"  %}
        requested_charge_muon1 => {{ o1.charge }},
    {%- else %}
        -- no charge cut for object 1
    {%- endif %}    
    {%- if  o1.qualityLUT != 65535 %}
        qual_lut_muon1 => X"{{ o1.qualityLUT|X04 }}",
    {%- else %}
        -- no quality cut for object 1
    {%- endif %}    
    {%- if o1.isolationLUT != 15  %}
        iso_lut_muon1 => X"{{ o1.isolationLUT|X01 }}",
    {%- else %}
        -- no isolation cut for object 1
    {%- endif %}    
    {%- if o1.uptCutSel == 'true' %}
        iso_lut_muon1 => o1.uptCutSel,
        upt_upper_limit_muon1 => X"{{ o1.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon1 => X"{{ o1.uptLowerLimit|X04 }}", 
        ip_lut_muon1 => X"{{ o1.impactParameterLUT|X01 }}",
    {%- else %}
        -- no unconstraint pt cut for object 1
    {%- endif %}    
-- parameter for object 2
        muon2_object_low => {{ o2.sliceLow }}, muon2_object_high => {{ o2.sliceHigh }}, 
    {%- if o2.operator == 'false'  %}
        pt_ge_mode_muon2 => {{ o2.operator }},
    {%- endif %}
        pt_threshold_muon2 => X"{{ o2.threshold|X04 }}",
    {%- if o2.etaNrCuts == 0  %}
        -- no eta cuts for object 2
    {%- endif %}
    {%- if o2.etaNrCuts >= 1  %}
        nr_eta_windows_muon2 => {{ o2.etaNrCuts }},
        eta_w1_upper_limit_muon2 => X"{{ o2.etaW1UpperLimit|X04 }}", eta_w1_lower_limit_muon2 => X"{{ o2.etaW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 2  %}
        eta_w2_upper_limit_muon2 => X"{{ o2.etaW2UpperLimit|X04 }}", eta_w2_lower_limit_muon2 => X"{{ o2.etaW2LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 3  %}
        eta_w3_upper_limit_muon2 => X"{{ o2.etaW3UpperLimit|X04 }}", eta_w3_lower_limit_muon2 => X"{{ o2.etaW3LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 4  %}
        eta_w4_upper_limit_muon2 => X"{{ o2.etaW4UpperLimit|X04 }}", eta_w4_lower_limit_muon2 => X"{{ o2.etaW4LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.etaNrCuts >= 5  %}
        eta_w5_upper_limit_muon2 => X"{{ o2.etaW5UpperLimit|X04 }}", eta_w5_lower_limit_muon2 => X"{{ o2.etaW5LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.phiFullRange == 'true'  %}
        -- no phi cuts for object 2        
    {%- else %}
        phi_full_range_muon2 => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_muon2 => X"{{ o2.phiW1UpperLimit|X04 }}", phi_w1_lower_limit_muon2 => X"{{ o2.phiW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o2.phiW2Ignore == 'false'  %}
        phi_w2_ignore_muon2 => {{ o2.phi_w2_ignore_muon2 }}, 
        phi_w2_upper_limit_muon2 => X"{{ o2.phiW2UpperLimit|X04 }}", phi_w2_lower_limit_muon2 => X"{{ o2.phiW2LowerLimit|X04 }}",
    {%- endif %}    
    {%- if o2.charge != "ign"  %}
        requested_charge_muon2 => {{ o2.charge }},
    {%- else %}
        -- no charge cut for object 2
    {%- endif %}    
    {%- if  o2.qualityLUT != 65535 %}
        qual_lut_muon2 => X"{{ o2.qualityLUT|X04 }}",
    {%- else %}
        -- no quality cut for object 2
    {%- endif %}    
    {%- if o2.isolationLUT != 15  %}
        iso_lut_muon2 => X"{{ o2.isolationLUT|X01 }}",
    {%- else %}
        -- no isolation cut for object 2
    {%- endif %}    
    {%- if o2.uptCutSel == 'true' %}
        iso_lut_muon2 => o2.uptCutSel,
        upt_upper_limit_muon2 => X"{{ o2.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon2 => X"{{ o2.uptLowerLimit|X04 }}", 
        ip_lut_muon2 => X"{{ o2.impactParameterLUT|X01 }}",
    {%- else %}
        -- no unconstraint pt cut for object 2
    {%- endif %}    
-- parameter for object 3
        muon3_object_low => {{ o3.sliceLow }}, muon3_object_high => {{ o3.sliceHigh }}, 
    {%- if o3.operator == 'false'  %}
        pt_ge_mode_muon3 => {{ o3.operator }},
    {%- endif %}
        pt_threshold_muon3 => X"{{ o3.threshold|X04 }}",
    {%- if o3.etaNrCuts == 0  %}
        -- no eta cuts for object 3
    {%- endif %}
    {%- if o3.etaNrCuts >= 1  %}
        nr_eta_windows_muon3 => {{ o3.etaNrCuts }},
        eta_w1_upper_limit_muon3 => X"{{ o3.etaW1UpperLimit|X04 }}", eta_w1_lower_limit_muon3 => X"{{ o3.etaW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.etaNrCuts >= 2  %}
        eta_w2_upper_limit_muon3 => X"{{ o3.etaW2UpperLimit|X04 }}", eta_w2_lower_limit_muon3 => X"{{ o3.etaW2LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.etaNrCuts >= 3  %}
        eta_w3_upper_limit_muon3 => X"{{ o3.etaW3UpperLimit|X04 }}", eta_w3_lower_limit_muon3 => X"{{ o3.etaW3LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.etaNrCuts >= 4  %}
        eta_w4_upper_limit_muon3 => X"{{ o3.etaW4UpperLimit|X04 }}", eta_w4_lower_limit_muon3 => X"{{ o3.etaW4LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.etaNrCuts >= 5  %}
        eta_w5_upper_limit_muon3 => X"{{ o3.etaW5UpperLimit|X04 }}", eta_w5_lower_limit_muon3 => X"{{ o3.etaW5LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.phiFullRange == 'true'  %}
        -- no phi cuts for object 3        
    {%- else %}
        phi_full_range_muon3 => {{ o3.phiFullRange }}, 
        phi_w1_upper_limit_muon3 => X"{{ o3.phiW1UpperLimit|X04 }}", phi_w1_lower_limit_muon3 => X"{{ o3.phiW1LowerLimit|X04 }}",
    {%- endif %}
    {%- if o3.phiW2Ignore == 'false'  %}
        phi_w2_ignore_muon3 => {{ o3.phi_w2_ignore_muon3 }}, 
        phi_w2_upper_limit_muon3 => X"{{ o3.phiW2UpperLimit|X04 }}", phi_w2_lower_limit_muon3 => X"{{ o3.phiW2LowerLimit|X04 }}",
    {%- endif %}    
    {%- if o3.charge != "ign"  %}
        requested_charge_muon3 => {{ o3.charge }},
    {%- else %}
        -- no charge cut for object 3
    {%- endif %}    
    {%- if  o3.qualityLUT != 65535 %}
        qual_lut_muon3 => X"{{ o3.qualityLUT|X04 }}",
    {%- else %}
        -- no quality cut for object 3
    {%- endif %}    
    {%- if o3.isolationLUT != 15  %}
        iso_lut_muon3 => X"{{ o3.isolationLUT|X01 }}",
    {%- else %}
        -- no isolation cut for object 3
    {%- endif %}    
    {%- if o3.uptCutSel == 'true' %}
        iso_lut_muon3 => o3.uptCutSel,
        upt_upper_limit_muon3 => X"{{ o3.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon3 => X"{{ o3.uptLowerLimit|X04 }}", 
        ip_lut_muon3 => X"{{ o3.impactParameterLUT|X01 }}",
    {%- else %}
        -- no unconstraint pt cut for object 3
    {%- endif %}    
-- correlation cuts
    {%- if condition.chargeCorrelation != "ig"  %}
        requested_charge_correlation => "{{ condition.chargeCorrelation }}",    
    {%- else %}
        -- no charge correlation for this condition
    {%- endif %}    
        mass_upper_limit_vector => X"{{ condition.mass.upper|X16 }}", 
        mass_lower_limit_vector => X"{{ condition.mass.lower|X16 }}",
        mass_width => {{ o1.type|upper }}_{{ o1.type|upper }}_MASS_VECTOR_WIDTH
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }},
    {%- if condition.chargeCorrelation != "ig"  %}
        ls_charcorr_triple => ls_charcorr_triple_bx_{{ o1.bx }}_bx_{{ o1.bx }}, 
        os_charcorr_triple => os_charcorr_triple_bx_{{ o1.bx }}_bx_{{ o1.bx }},
    {%- endif %}    
        mass_inv => {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_mass_inv_vector,
        condition_o => {{ condition.vhdl_signal }});
{%- endblock instantiate_muon_muon_mass_3_obj_condition %}
{# eof #}
