{%- block muon_correlation_conditions_base %}
  {%- block entity %}
  {%- endblock entity %}
    generic map(
  {%- block generic_beg %}
  {%- endblock generic_beg %}
  {%- set nr_muon_obj = condition.nr_objects %}
    {%- for i in range(0,nr_muon_obj) %}
      {%- set o = condition.objects[i] %}
      {%- if nr_muon_obj > 1 %}
-- object {{i+1}} cuts
        {%- if o.hasSlice is not none %}
        muon{{i+1}}_object_low => {{ o.sliceLow }}, 
        muon{{i+1}}_object_high => {{ o.sliceHigh }}, 
        {%- endif %}        
        {%- if o.operator == False %}
        pt_ge_mode_muon{{i+1}} => {{ o.operator }}, 
        {%- endif %}        
        pt_threshold_muon{{i+1}} => X"{{ o.threshold|X04 }}",
        {%- if o.etaNrCuts > 0 %}
        nr_eta_windows_muon{{i+1}} => {{ o.etaNrCuts }},
        {%- endif %}        
        {%- for j in range(0,(o.etaNrCuts)) %}
          {%- if o.etaNrCuts > j %}
        eta_w{{j+1}}_upper_limit_muon{{i+1}} => X"{{ o.etaUpperLimit[j]|X04 }}", 
        eta_w{{j+1}}_lower_limit_muon{{i+1}} => X"{{ o.etaLowerLimit[j]|X04 }}",
          {%- endif %}        
        {%- endfor %}
        {%- if o.phiNrCuts > 0 %}
        phi_full_range_muon{{i+1}} => {{ o.phiFullRange }}, 
        phi_w1_upper_limit_muon{{i+1}} => X"{{ o.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_muon{{i+1}} => X"{{ o.phiW1LowerLimit|X04 }}",
        {%- endif %}        
        {%- if o.phiNrCuts > 1 %}
        phi_w2_ignore_muon{{i+1}} => {{ o.phiW2Ignore }}, 
        phi_w2_upper_limit_muon{{i+1}} => X"{{ o.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_muon{{i+1}} => X"{{ o.phiW2LowerLimit|X04 }}",
        {%- endif %}        
        {%- if o.hasCharge is not none %}
        requested_charge_muon{{i+1}} => "{{ o.charge }}",                      
        {%- endif %}        
        {%- if o.hasQuality is not none %}
        qual_lut_muon{{i+1}} => X"{{ o.qualityLUT|X04 }}",
        {%- endif %}        
        {%- if o.hasIsolation is not none %}
        iso_lut_muon{{i+1}} => X"{{ o.isolationLUT|X01 }}",
        {%- endif %}        
        {%- if o.hasUpt is not none %}
        upt_cut_muon{{i+1}} => {{ o.hasUpt|vhdl_bool }}, 
        upt_upper_limit_muon{{i+1}} => X"{{ o.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon{{i+1}} => X"{{ o.uptLowerLimit|X04 }}", 
        {%- endif %}        
        {%- if o.hasImpactParameter is not none %}
        ip_lut_muon{{i+1}} => X"{{ o.impactParameterLUT|X01 }}",
        {%- endif %}
      {%- else %}        
-- muon obj cuts
        {%- if o.hasSlice is not none %}
        muon_object_low => {{ o.sliceLow }}, 
        muon_object_high => {{ o.sliceHigh }}, 
        {%- endif %}        
        {%- if o.operator == False %}
        pt_ge_mode_muon => {{ o.operator }}, 
        {%- endif %}        
        pt_threshold_muon => X"{{ o.threshold|X04 }}",
        nr_eta_windows_muon => {{ o.etaNrCuts }},
        {%- for j in range(0,(o.etaNrCuts)) %}
          {%- if o.etaNrCuts > j %}
        eta_w{{j+1}}_upper_limit_muon => X"{{ o.etaUpperLimit[j]|X04 }}", 
        eta_w{{j+1}}_lower_limit_muon => X"{{ o.etaLowerLimit[j]|X04 }}",
          {%- endif %}        
        {%- endfor %}
        {%- if o.phiNrCuts > 0 %}
        phi_full_range_muon => {{ o.phiFullRange }}, 
        phi_w1_upper_limit_muon => X"{{ o.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_muon => X"{{ o.phiW1LowerLimit|X04 }}",
        {%- endif %}        
        {%- if o.phiNrCuts > 1 %}
        phi_w2_ignore_muon => {{ o.phiW2Ignore }}, 
        phi_w2_upper_limit_muon => X"{{ o.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_muon => X"{{ o.phiW2LowerLimit|X04 }}",
        {%- endif %}        
        {%- if o.hasCharge is not none %}
        requested_charge_muon => "{{ o.charge }}",
        {%- endif %}        
        {%- if o.hasQuality is not none %}
        qual_lut_muon => X"{{ o.qualityLUT|X04 }}",
        {%- endif %}        
        {%- if o.hasIsolation is not none %}
        iso_lut_muon => X"{{ o.isolationLUT|X01 }}",
        {%- endif %}        
        {%- if o.hasUpt is not none %}
        upt_cut_muon => {{ o.hasUpt|vhdl_bool }}, 
        upt_upper_limit_muon => X"{{ o.uptUpperLimit|X04 }}", 
        upt_lower_limit_muon => X"{{ o.uptLowerLimit|X04 }}", 
        {%- endif %}        
        {%- if o.hasImpactParameter is not none %}
        ip_lut_muon => X"{{ o.impactParameterLUT|X01 }}",
        {%- endif %}
      {%- endif %}        
    {%- endfor %}
    {%- if condition.objects[1].is_esums_type %}
      {%- set o2 = condition.objects[1] %}
-- esums obj cuts
      {%- if o2.operator == False %}
        et_ge_mode_esums => {{ o2.operator }}, 
      {%- endif %}        
        obj_type_esums => {{ o2.type|upper }}_TYPE,
        et_threshold_esums => X"{{ o2.threshold|X04 }}",
      {%- if o2.phiNrCuts > 0 %}
        phi_full_range_esums => {{ o2.phiFullRange }}, 
        phi_w1_upper_limit_esums => X"{{ o2.phiW1UpperLimit|X04 }}", 
        phi_w1_lower_limit_esums => X"{{ o2.phiW1LowerLimit|X04 }}",
      {%- endif %}        
      {%- if o2.phiNrCuts > 1 %}
        phi_w2_ignore_esums => {{ o2.phiW2Ignore }}, 
        phi_w2_upper_limit_esums => X"{{ o2.phiW2UpperLimit|X04 }}", 
        phi_w2_lower_limit_esums => X"{{ o2.phiW2LowerLimit|X04 }}",
      {%- endif %}        
    {%- endif %}        
  {%- block correlation_cuts %}
-- correlation cuts
    {%- if condition.chargeCorrelation is not none %}
        requested_charge_correlation => "{{ condition.chargeCorrelation }}",     
    {%- endif %}        
    {%- if (condition.hasMass is not none) and (condition.mass.type == condition.mass.InvariantMassDeltaRType) %}
        mass_cut => {{ condition.mass.enabled }}, 
        mass_type => INVARIANT_MASS_DIV_DR_TYPE,
    {%- else %}
        {%- if condition.hasDeltaEta is not none %}
        deta_cut => {{ condition.deltaEta.enabled }}, 
        {%- endif %}        
        {%- if condition.hasDeltaPhi is not none %}
        dphi_cut => {{ condition.deltaPhi.enabled }}, 
        {%- endif %}        
        {%- if condition.hasDeltaR is not none %}
        dr_cut => {{ condition.deltaR.enabled }}, 
        {%- endif %}        
        {%- if condition.hasMass is not none %}
        mass_cut => {{ condition.mass.enabled }}, 
        mass_type => INVARIANT_MASS_TYPE, 
        {%- endif %}        
        {%- if condition.hasTwoBodyPt is not none %}
        twobody_pt_cut => {{ condition.twoBodyPt.enabled }}, 
        {%- endif %}        
    {%- endif %}        
    {%- if condition.hasDeltaEta is not none %}
        diff_eta_upper_limit_vector => X"{{ condition.deltaEta.upper|X08 }}", 
        diff_eta_lower_limit_vector => X"{{ condition.deltaEta.lower|X08 }}",
    {%- endif %}        
    {%- if condition.hasDeltaPhi is not none %}
        diff_phi_upper_limit_vector => X"{{ condition.deltaPhi.upper|X08 }}", 
        diff_phi_lower_limit_vector => X"{{ condition.deltaPhi.lower|X08 }}",
    {%- endif %}        
    {%- if condition.hasDeltaR is not none %}
        dr_upper_limit_vector => X"{{ condition.deltaR.upper|X16 }}", 
        dr_lower_limit_vector => X"{{ condition.deltaR.lower|X16 }}",
    {%- endif %}        
    {%- if condition.hasMass is not none %}
        {%- if condition.mass.type == condition.mass.InvariantMassType %}
        mass_upper_limit => X"{{ condition.mass.upper|X16 }}",
        mass_lower_limit => X"{{ condition.mass.lower|X16 }}",
        {%- elif condition.mass.type == condition.mass.InvariantMassDeltaRType %}
        mass_div_dr_threshold => X"{{ condition.mass.lower|X21 }}",
        {%- endif %}        
    {%- endif %}        
    {%- if condition.hasTwoBodyPt is not none %}
        pt_sq_threshold_vector => X"{{ condition.twoBodyPt.threshold|X16 }}", 
    {%- endif %}        
  {%- endblock correlation_cuts %}
  {%- block generic_end %}
  {%- endblock generic_end %}
    )
    port map(
  {%- block port %}
  {%- endblock port %}
    );
{%- endblock muon_correlation_conditions_base %}
{# eof #}
