{%-set info = menu.info %}
{%-set menu_name = info.name %}
{%- set nAlgorithms = menu.reporter['index_sorted'] | length %}
{%- set URL = "%ATTACHURL%" %}
-%SET{ "REPORTER_URL" value="{{URL}}/{{menu_name}}.html" }%
---+!! !{{menu_name}}

%TOC%

---++ Introduction

|  *Trigger Menu Name*  | *Revision*| *Compatible releases* | *Date* |
|!{{menu_name}}  |Rev. {{info.version}}   | >= 8_0_0_pre6  | {{info.datetime}} |


---+++ Menu availability in a CMSSW job

---++ List and description of algorithm and technical triggers 


A complete description of the algorithm and technical trigger implementation is available in the attached  
[[%GET{"REPORTER_URL"}%][HTML Description of L1 Menu]]. %ICON{updated}%

---+++ L1 menu identification

|L1 Trigger Menu Name: | !{{menu_name}} |
|L1 Trigger Menu Firmware UUID: | {{menu.uuid_firmware}}  |
|Associated L1 scale DB key: | {{info.scale_set}} |


---+++ Summary

   * Number of algorithm triggers: {{nAlgorithms}} defined.

Number of algorithm triggers per trigger group:

    | *Trigger group* | *Number of bits used*|
    {%- for tg_name in menu.reporter['TriggerGroups']  %}
      {%- set tg = menu.reporter['TriggerGroups'][tg_name]%}
      {%-if tg['nBits'] >0 %}
      | !{{ tg_name }} algorithm triggers:| {{tg['nBits']}} |  
      {%-endif %}
    {%-endfor%}

<p style="page-break-before: always">&nbsp;</p>

---+++ List of algorithm triggers sorted by trigger groups

<p style="page-break-before: always">&nbsp;</p>


        {%- for tg_name in menu.reporter['TriggerGroups'].keys()  %}
        {%- set tg = menu.reporter['TriggerGroups'][tg_name]%}
        {%-if tg['nBits'] >0 %}
---++++ !{{tg_name}} algorithm triggers
|  *Trigger Name*  |  *Trigger Alias*  |  *Bit*  |  *Comments*  |
          {%-for algorithm in tg['bits'] %}
|[[%GET{"REPORTER_URL"}%#{{algorithm.name}} ][{{algorithm.name}}]]   | {{algorithm.name}}  | {{algorithm.index}} | |
          {%-endfor %}
!{{tg_name}} algorithm triggers: {{tg['nBits']}} bits defined

        {%-endif %}
        {%-endfor %}



<p style="page-break-before: always">&nbsp;</p>

---+++ List of algorithm triggers sorted by bits

| *Algorithm* | *Alias* | *Bit number* |
{%- for algorithm_name in menu.reporter['index_sorted']%}
{%- set algorithm = menu.reporter['algoDict'][algorithm_name] %}
|[[%GET{"REPORTER_URL"}%#{{algorithm_name}} ][{{algorithm_name}}]]   |{{algorithm_name}} |  {{algorithm.index}}| 
{%- endfor%}


<p style="page-break-before: always">&nbsp;</p>

